{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" class="tabIcon" href="{% static '../media/images/tab-icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/fonts.css' %}">
    {% comment %} <script src="https://alcdn.msauth.net/browser/2.18.0/js/msal-browser.min.js"></script> {% endcomment %}
     <!-- msal.min.js can be used in the place of msal.js; included msal.js to make debug easy -->
  <script src="https://alcdn.msauth.net/browser/2.30.0/js/msal-browser.js"
  integrity="sha384-o4ufwq3oKqc7IoCcR08YtZXmgOljhTggRwxP2CLbSqeXGtitAxwYaUln/05nJjit"
  crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    {% block  style%}{% endblock %}
</head>
<body style="margin: 0px;">
    <script src="{% static "js/popupHandler.js" %}"></script>
    <script>
        var ids = ["accounttypepopup","clubvarsityloginpopup","finishsetupstudent"];
        function showLoginPopup(id, notdismissable=false) {
            if(notdismissable) {
                document.getElementsByClassName("popupBG")[0].onclick = "";
            }
            else {
                console.log("readding")
                document.getElementsByClassName("popupBG")[0].onclick = function() {
                    if(event.srcElement == this) {
                        closePopup(this.id);
                        showLoginPopup('accounttypepopup');}
                    };
            }
            for(var i = 0; i < ids.length; i++) {
                console.log(ids[i]);
                if(ids[i] == id) {
                    console.warn(ids[i], "Passed");
                    document.getElementById(id).style.display = 'flex';
                }
                else {
                    console.log(ids[i], "Hidden");
                    document.getElementById(ids[i]).style.display = 'none';
                }
            }
            openPopup('accountpopup');
        }
    </script>
    <div class="popupBG" id="accountpopup" hidden onclick="console.log(event.srcElement); if(event.srcElement == this) {closePopup(this.id); showLoginPopup('accounttypepopup');}">
        <div id="accountPopupWindow" class="accountPopupWindow">
            <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Welcome to Student Society</p>
            <p class="subtext">Complete your student profile</p>
            <div class="centerer" id="accounttypepopup">
                <button class="btn primary" onclick="signIn()">Student or Faculty</button>
                <button class="btn" onclick="showLoginPopup('clubvarsityloginpopup');">Club or Varsity</button>
                <br>
            </div>
            <div class="centerer" id="clubvarsityloginpopup" style="height: 65%; display: none;">
                <form method="post" action="/clublogin/" class="centerer" style="height: unset;">
                    {% csrf_token %}
                    <p class="subtext" id="wrongcred" hidden style="color: red">Incorrect Username or Password</p>
                    <input class="textfield" name="email" placeholder="Email">
                    <input class="textfield" type="password" name="password" placeholder="Password">
                    <input type="submit" class="btn primary" value="Sign In">
                    <p class="subtext">Having Issues Signing In? <a href="mailto:sulaiman.abuqamar@amb.sch.ae">Contact Us</a></p>
                </form>
            </div>
            <div class="centerer" id="finishsetupstudent" style="height: 65%; display: none;">
                <form method="post" action="/finishSetup/Student/" class="centerer" style="height: unset;">
                    {% csrf_token %}
                    <input class="textfield" name="student_id" required placeholder="Student ID">
                    <select class="textfield" name="yearlevel" required>
                        <option value="none" disabled selected>Select Grade Level</option>
                        <option value="9">Freshman (Gr 9)</option>
                        <option value="10">Sophomore (Gr 10)</option>
                        <option value="11">Junior (Gr 11)</option>
                        <option value="12">Senior (Gr 12)</option>
                    </select>
                    <select class="textfield" name="sectionletter" required>
                        <option value="none" disabled selected>Select Section</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                    </select>
                    <input type="submit" class="btn primary" value="Finish">
                </form>
            </div>
        </div>
    </div>
    <div class="popupBG" id="aboutPopup" hidden onclick="console.log(event.srcElement); if(event.srcElement == this) {closePopup(this.id);}">
        <div id="accountPopupWindow" class="accountPopupWindow">
            <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Student Society Website</p>
            <p class="subtext">Version 2.45</p>
            <p class="subtext">Latest Commit: fixed abnormal clubs sizes</p>
            <p class="subtext">Developed by Mohamad Moukayed and Sulaiman Abuqamar</p>
            <p class="subtext">Send us an email at studentsociety.amsi@gmail.com</p>
            <div class="centerer horr"><button class="btn primary" onclick="closePopup('aboutPopup');">Close</button></div>
        </div>
    </div>
    <div class="popupBG" hidden id="loadingBG">
        <div class="loadingText" hidden></div>
        <div class="loadingIcon"></div>
        {% comment %} <svg xmlns="http://www.w3.org/2000/svg" class="loadingIcon" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M272-120 64-480l208-360h416l208 360-208 360H272Zm46-80h324l161-280-161-280H318L156-480l162 280Zm162-280Z"/></svg> {% endcomment %}
    </div>
    <div class="navBar">
        <div class="antiside">
            <script>
                var drawerOpen = false;
                function openDrawer(id) {
                    drawerOpen = !drawerOpen; 
                    var navbars = document.getElementsByClassName("navBarMobile");
                    for(var i = 0; i < navbars.length; i++) {
                        document.getElementsByClassName('navBarMobile')[i].style.animation = 'mobileLayoutClose forwards ease-in-out 0.3s';
                    }
                    if(id != "") {
                        console.log("fired", id);
                        document.getElementById(id).style.animation = 'mobileLayoutOpen forwards ease-in-out 0.3s';
                    }
                    
                }
            </script>
            <button class="btn empty" onclick="if(drawerOpen) { openDrawer(''); } else { openDrawer('nav'); }">
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#FFFFFF"><path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"/></svg>
            </button>
        </div>
        <div>
            <a style="display: flex; align-items: center;" href="{% url 'home' %}">
                <p class="logoText">ALMAWAKEB<br>STUDENTS' SOCIETY</p>
                <img class="logo" src="{% static '../media/images/ss-white-logo.png' %}" alt="SS Logo">
            </a>
        </div>
        <div class="side">
            <div class="dropdown">
                <div class="dropbtn navText">What's On</div>
                <div class="dropdown-content">
                    <a href="{% url 'events' %}">
                        <p class="navText" style="margin: 0px;">Events</p>
                    </a>
                    <a href="{% url 'news' %}">
                        <p class="navText" style="margin: 0px;">News</p>
                    </a>
                    <a href="{% url 'meetings' %}">
                        <p class="navText" style="margin: 0px;">Meetings</p>
                    </a>
                    
                </div>
            </div>
            <a href="{% url 'clubs' %}">
                <p class="navText">Clubs & Societies</p>
            </a>
            <a href="{% url 'varsity' %}">
                <p class="navText">Varsity Teams</p>
            </a>
            <a href="{% url 'scouts' %}">
                <p class="navText">Scouts</p>
            </a>
            
            <!-- Popup of signin -->
            {% if user.is_authenticated %}
                {% if "profile" in url %}
                <div class="dropdown">
                <p class="dropbtn navText" style="cursor: pointer;" onclick="signOut();">Sign Out</p>
                <div class="dropdown-content" style="margin-left: -60px;">
                    <a href="/profile/User">
                        <p class="navText" style="margin: 0px;">{{ user.name }}</p>
                    </a>
                    {% if user.associated_clubs.count > 0 %}
                    <hr>
                    {% endif %}
                    {% for club in user.associated_clubs.all %}
                    <a href="/profile/Club/{{club.pk}}">
                        <p class="navText" style="margin: 0px;">{{ club.name }}</p>
                    </a>
                    {% endfor %}
                    {% if user.associated_varsities.count > 0 %}
                    <hr>
                    {% endif %}
                    {% for varsity in user.associated_varsities.all %}
                    <a href="/profile/Varsity/{{varsity.pk}}">
                        <p class="navText" style="margin: 0px;">{{ varsity.name }}</p>
                    </a>
                    {% endfor %}
                </div>
                </div>
                {% else %}
                {% if user.associated_clubs is None and user.associated_varsities is None %}
                <a href="/profile/User"><p class="navText" style="cursor: pointer;">Profile</p></a>
                {% else %}
                <div class="dropdown">
                <div class="dropbtn navText">Profile</div>
                <div class="dropdown-content">
                    <a href="/profile/User">
                        <p class="navText" style="margin: 0px;">{{ user.name }}</p>
                    </a>
                    {% if user.associated_clubs.count > 0 %}
                    <hr>
                    {% endif %}
                    {% for club in user.associated_clubs.all %}
                    <a href="/profile/Club/{{club.pk}}">
                        <p class="navText" style="margin: 0px;">{{ club.name }}</p>
                    </a>
                    {% endfor %}
                    {% if user.associated_varsities.count > 0 %}
                    <hr>
                    {% endif %}
                    {% for varsity in user.associated_varsities.all %}
                    <a href="/profile/Varsity/{{varsity.pk}}">
                        <p class="navText" style="margin: 0px;">{{ varsity.name }}</p>
                    </a>
                    {% endfor %}
                </div>
                </div>
                {% endif %}
                {% endif %}
            {% else %}
                <p class="navText" style="cursor: pointer;" onclick="signIn()">Sign In</p>
                {% comment %} <p class="navText" style="cursor: pointer;" onclick="document.getElementsByClassName('popupBG')[0].hidden = false;">Sign In</p> {% endcomment %}
            {% endif %}

        </div>
    </div>
    <div class="navBarMobile" style="animation: mobileLayoutClose forwards ease-in-out 0s" id="nav">
            
            <a class="mobileItem" onclick="openDrawer('whatsnew')">
                <p class="navText">What's On</p>
            </a>
            <a href="{% url 'clubs' %}" class="mobileItem">
                <p class="navText">Clubs & Societies</p>
            </a>
            <a href="{% url 'varsity' %}" class="mobileItem">
                <p class="navText">Varsity Teams</p>
            </a>
            <a href="{% url 'scouts' %}" class="mobileItem">
                <p class="navText">Scouts</p>
            </a>
            
            <!-- Popup of signin -->
            {% if user.is_authenticated %}
                
                {% if user.associated_clubs is None and user.associated_varsities is None %}
                <a href="/profile/User" class="mobileItem"><p class="navText" style="cursor: pointer;">Profile</p></a>
                {% else %}
                <a class="mobileItem" onclick="openDrawer('profile')">
                    <p class="navText">Profile</p>
                </a>
                {% endif %}
            {% else %}
                <p class="navText mobileItem" style="cursor: pointer; margin-top: 0px" onclick="signIn()">Sign In</p>
                {% comment %} <p class="navText" style="cursor: pointer;" onclick="document.getElementsByClassName('popupBG')[0].hidden = false;">Sign In</p> {% endcomment %}
            {% endif %}
    </div>
    <div class="navBarMobile" style="animation: mobileLayoutClose forwards ease-in-out 0s" id="profile">
        <a href="/profile/User" class="mobileItem">
            <p class="navText" style="margin: 0px; text-align: center;">{{ user.name }}</p>
        </a>
        {% for club in user.associated_clubs.all %}
        <a href="/profile/Club/{{club.pk}}" class="mobileItem">
            <p class="navText" style="margin: 0px; text-align: center;">{{ club.name }}</p>
        </a>
        {% endfor %}
        {% for varsity in user.associated_varsities.all %}
        <a href="/profile/Varsity/{{varsity.pk}}" class="mobileItem">
            <p class="navText" style="margin: 0px; text-align: center;">{{ varsity.name }}</p>
        </a>
        {% endfor %}
        {% if "profile" in url %}
        <a onclick="signOut(); openDrawer('');" class="mobileItem">
            <p class="navText" style="margin: 0px;">Sign Out</p>
        </a>
        {% endif %}
        <a onclick="openDrawer('nav')" class="mobileItem">
            <p class="navText" style="margin: 0px;">Back</p>
        </a>
    </div>
    <div class="navBarMobile" style="animation: mobileLayoutClose forwards ease-in-out 0s" id="whatsnew">
        <a href="{% url 'events' %}" class="mobileItem">
            <p class="navText" style="margin: 0px;">Events</p>
        </a>
        <a href="{% url 'news' %}" class="mobileItem">
            <p class="navText" style="margin: 0px;">News</p>
        </a>
        <a href="{% url 'meetings' %}" class="mobileItem">
            <p class="navText" style="margin: 0px;">Meetings</p>
        </a>
        <a onclick="openDrawer('nav')" class="mobileItem">
            <p class="navText" style="margin: 0px;">Back</p>
        </a>
            
    </div>
    <div class="content {% if request.path == "/" %}centerer hirr" style="padding-top:70px;"{% else %}"{% endif %}> 
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <p class="logoText">ALMAWAKEB<br>STUDENTS' SOCIETY</p>
        <img class="logo" src="{% static '../media/images/ss-white-logo.png' %}" alt="SS Logo" ondblclick="openPopup('aboutPopup');">
    </div>
</body>
</html>

<script>
let details = navigator.userAgent; 
let regexp = /android|iphone|kindle|ipad/i; 
let isMobileDevice = regexp.test(details); 
  setInterval(function() {
  isMobileDevice = regexp.test(details); 
  }, 1);
    document.addEventListener('DOMContentLoaded', function() {
        var dropdown = document.getElementsByClassName('dropbtn');
        for(var i = 0; i < dropdown.length; i++) {
        if(isMobileDevice) {
            dropdown[i].onclick = function(event) {
                var dropdownContent = this.nextElementSibling;
                this.checked = !this.checked
                if(this.checked) {
                this.dropdown = dropdownContent;
                dropdownContent.style.display = "block";
                }
                else {
                var dropdownContent = this.dropdown;
                dropdownContent.style.display = "none";
                }
            }
        }
            else {
            dropdown[i].onmouseover = function(event) {
                var dropdownContent = this.nextElementSibling;
                dropdownContent.style.display = "block";
                dropdownContent.onmouseleave = function(event) {
                    var dropdownContent = this;
                    dropdownContent.style.display = "none";
                }
            }
        }
        }
    });
</script>
<script>
    var loginfailed = {{ login_failed }};
    if(loginfailed) {
        document.getElementsByClassName("popupBG")[0].hidden = false;
        showLoginPopup('clubvarsityloginpopup');
        document.getElementById('wrongcred').hidden = false;
        document.getElementById('accounttypepopup').style.display = 'none';
    }
</script>
<script src="{% static "js/authConfig.js" %}"></script>
<script src="{% static "js/graphConfig.js" %}"></script>
{% comment %} <script src="{% static "js/authPopup.js" %}"></script> {% endcomment %}
<script src="{% static "js/authRedirect.js" %}"></script>
<script src="{% static "js/graph.js" %}"></script>