{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" class="tabIcon" href="{% static '../media/images/tab-icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    {% comment %} <script src="https://alcdn.msauth.net/browser/2.18.0/js/msal-browser.min.js"></script> {% endcomment %}
     <!-- msal.min.js can be used in the place of msal.js; included msal.js to make debug easy -->
  <script src="https://alcdn.msauth.net/browser/2.30.0/js/msal-browser.js"
  integrity="sha384-o4ufwq3oKqc7IoCcR08YtZXmgOljhTggRwxP2CLbSqeXGtitAxwYaUln/05nJjit"
  crossorigin="anonymous"></script>
    {% block  style%}{% endblock %}
</head>
<body style="margin: 0px;">
    <script>
        var ids = ["accounttypepopup","clubvarsityloginpopup","finishsetupstudent"];
        function showLoginPopup(id, notdismissable=false) {
            if(notdismissable) {
                document.getElementsByClassName("popupBG")[0].onclick = "";
            }
            else {
                document.getElementsByClassName("popupBG")[0].onclick = "if(event.srcElement == this) {this.hidden = true; showLoginPopup('accounttypepopup');}";
            }
            for(var i = 0; i < ids.length; i++) {
                console.log(ids[i]);
                if(ids[i] == id) {
                    console.warn(ids[i], "Passed");
                    document.getElementById(id).style.display = 'flex';
                }
                else {
                    console.log(ids[i], "Hidden");
                    document.getElementById(ids[i]).style.display = 'none';
                }
            }
        }
    </script>
    <div class="popupBG" hidden onclick="if(event.srcElement == this) {this.hidden = true; showLoginPopup('accounttypepopup');}">
        <div id="accountPopupWindow">
            <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Welcome Back</p>
            <p class="subtext">Sign in to access the student union</p>
            <div class="centerer" id="accounttypepopup">
                <button class="btn primary" onclick="signIn()">Student or Faculty</button>
                <button class="btn" onclick="showLoginPopup('clubvarsityloginpopup');">Club or Varsity</button>
                <br>
            </div>
            <div class="centerer" id="clubvarsityloginpopup" style="height: 65%; display: none;">
                <form method="post" action="/clublogin/" class="centerer" style="height: unset;">
                    {% csrf_token %}
                    <p class="subtext" id="wrongcred" hidden style="color: red">Incorrect Username or Password</p>
                    <input class="textfield" name="email" placeholder="Email">
                    <input class="textfield" type="password" name="password" placeholder="Password">
                    <input type="submit" class="btn primary" value="Sign In">
                    <p class="subtext">Having Issues Signing In? <a href="mailto:sulaiman.abuqamar@amb.sch.ae">Contact Us</a></p>
                </form>
            </div>
            <div class="centerer" id="finishsetupstudent" style="height: 65%; display: none;">
                <form method="post" action="/finishSetup/Student/" class="centerer" style="height: unset;">
                    {% csrf_token %}
                    <input class="textfield" name="student_id" required placeholder="Student ID">
                    <select class="textfield" name="yearlevel" required>
                        <option value="none" disabled selected>Select Grade Level</option>
                        <option value="FR">Freshman (Gr 9)</option>
                        <option value="SO">Sophomore (Gr 10)</option>
                        <option value="JR">Junior (Gr 11)</option>
                        <option value="SR">Senior (Gr 12)</option>
                    </select>
                    <select class="textfield" name="sectionletter" required>
                        <option value="none" disabled selected>Select Section</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                    </select>
                    <input type="submit" class="btn primary" value="Finish">
                </form>
            </div>
        </div>
    </div>
    <div class="navBar">
        <div>
            <a style="display: flex; align-items: center;" href="{% url 'home' %}">
                <p class="logoText">STUDENTS' UNION</p>
                <img class="logo" src="{% static '../media/images/su-white-logo.png' %}" alt="SU Logo">
            </a>
        </div>
        <div style="display: flex; align-items: center; gap: 30px;">
            <div class="dropdown">
                <div class="dropbtn navText">What's On</div>
                <div class="dropdown-content">
                    <a href="{% url 'events' %}">
                        <p class="navText" style="margin: 0px;">Events</p>
                    </a>
                    <a href="{% url 'news' %}">
                        <p class="navText" style="margin: 0px;">News</p>
                    </a>
                </div>
            </div>
            <a href="{% url 'clubs' %}">
                <p class="navText">Clubs & Societies</p>
            </a>
            <a href="{% url 'varsity' %}">
                <p class="navText">Varsity Teams</p>
            </a>
            <!-- Popup of signin -->
            {% if user.is_authenticated %}
                <p class="navText" style="cursor: pointer;" onclick="signOut()">Sign Out</p>
            {% else %}
                <p class="navText" style="cursor: pointer;" onclick="document.getElementsByClassName('popupBG')[0].hidden = false;">Sign In</p>
            {% endif %}

        </div>
    </div>
    <div class="content {% if request.path == "/" %}centerer hirr{% endif %} "> 
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <p class="logoText">STUDENTS' UNION</p>
        <img class="logo" src="{% static '../media/images/su-white-logo.png' %}" alt="SU Logo">
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dropdown = document.querySelector('.dropbtn');
        dropdown.onclick = function(event) {
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    });
</script>
<script>
    var loginfailed = {{ login_failed }};
    if(loginfailed) {
        document.getElementsByClassName("popupBG")[0].hidden = false;
        showLoginPopup('clubvarsityloginpopup');
        document.getElementById('wrongcred').hidden = false;
        document.getElementById('accounttypepopup').style.display = 'none';
    }
    
</script>
<script src="{% static "js/authConfig.js" %}"></script>
<script src="{% static "js/graphConfig.js" %}"></script>
{% comment %} <script src="{% static "js/authPopup.js" %}"></script> {% endcomment %}
<script src="{% static "js/authRedirect.js" %}"></script>
<script src="{% static "js/graph.js" %}"></script>