{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>{{ club.name }} - Details</title>
{% endblock %}

{% block content %}
{% if user.associated_student is not None and club.type == user.associated_student.gender or club.type == "mixed" or user.associated_faculty is not None or user.is_superuser %}
<div>
    <div class="detailsSide">
            <div style="display: flex; justify-content: space-between; flex-direction: column; justify-content: flex-start;">
            <p class="pageTitle" style="margin: 0px;">{{ club.name }}</p>
                <div class="articleDescriptionText">
                    <p>{{ club.about|default_if_none:""|safe }}</p>
                </div>
            </div>
            <div class="linkcontrol">
                <img src="{{ club.logo.url }}" style="border: {{ club.color }} 3px solid;" alt="{{ club.name }} Logo" class="articleCover"><br><br>
                <div style="width: 300px; text-align: center;">
                    {% for link in links %}
                    <div style=" display: flex; align-items: center;">
                        <img src="{% static "../media/images/link.svg" %}">
                        <a class="links" href="{{link.link }}" target="_blank" style="margin-top: 0px;  margin-left: 10px">{{ link.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="subtitle">Heads</p>
        <div class="studentGrid">
            {% for head in heads %}
            <div>
                <a href="/Student/Detail/{{head.pk}}" >
                    <img src="{{ head.associated_student.profile_picture.url }}" class="studentPFP" alt="{{ head.name }}" class="profileCover">
                    <p class="text">{{ head.name }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">No heads available.</p>
            {% endfor %}
        </div>
        {% if leadership.count > 0 %}
        <p class="subtitle">Leadership</p>
        <div class="studentGrid">
            {% for leader in leadership %}  <!-- Changed variable name for clarity -->
            <div>
                <a href="/Student/Detail/{{leader.pk}}" >
                    <img src="{{ leader.associated_student.profile_picture.url }}" alt="{{ leader.name }}" class="studentPFP profileCover">
                    <p class="text">{{ leader.name }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">No leadership available.</p>
            {% endfor %}
        </div>
        {% endif %}
        <p class="subtitle">Members</p>
        <div class="studentGrid">
            {% for member in members %}
            <a href="/Student/Detail/{{member.pk}}">
                <p class="text">• {{ member.name }}</p>
            </a>
            {% empty %}
            <p class="text">No members available.</p>
            {% endfor %}
        </div>
        <p class="subtitle">Advisors</p>
        <div class="studentGrid">
            {% for advisor in advisors %}
            <a href="/Faculty/Detail/{{advisor.pk}}">
                <p class="text">• {{ advisor.name }}</p>
            </a>
            {% empty %}
            <p class="text">No advisors available.</p>
            {% endfor %}
        </div>
        <p class="subtitle">Events</p>
        <div class="grid">
            {% for event in events %}
            <div>
                <a href="{% url 'event_detail' event.id %}">
                    <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
                    <p class="text">{{ event.title }}</p>
                    <p class="aboutText">{{ event.date }}</p>
                    <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
                    <div class="tagBox" style="background: {{ event.author.color }};">
                        <p class="tagText">{{ event.author.name }}</p>
                    </div>
                </a>
            </div>
            {% empty %}
            <p class="text">No events available.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<p style="font-size: 70px; font-weight: bold; margin-top: 50px; text-align: center; font-family: Inter;">This Club Is Not Available For Your Section.</p>
<p style="font-size: 20px; text-align: center; font-family: Inter;">Oops! The club you’re looking for is not available for your section. If you were redirected here, please use your browser’s back button and try again. If the issue persists, kindly report it to one of the SS Officers for assistance.</p>
{% endif %}
{% endblock %}
