{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>SU - Create Event</title>
{% endblock %}

{% block content %}
<div>
    <p class="pageTitle">Create News Post</p>
</div>
<form method="post" class="profileRow" style="align-items: start;" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column;">
    <p class="subtext" id="wrongcred" hidden style="color: red">Incorrect Username or Password</p>
    <input class="textfield" required name="title" placeholder="Title">
    <textarea class="textfield" required name="content" placeholder="Content" style="width: 600px; height: 200px; padding-top: 10px;"></textarea>
    <input class="textfield" required name="summary" placeholder="Summary">
    <textarea class="textfield" name="links" placeholder="Links (One link per line, text to show first then ! then link. Ex: Google!https://google.com)" style="width: 600px; height: 100px;"></textarea>
    <select class="textfield" name="gradefilter">
        <option value="ngr" selected>All Year Levels</option>
        <option value="12">Seniors (Gr 12) Only</option>
        <option value="11">Juniors (Gr 11) Only</option>
        <option value="10">Sophomores (Gr 10) Only</option>
        <option value="9">Freshmen (Gr 9) Only</option>
    </select>
    <select class="textfield" name="sectionfilter">
        <option value="nosec" selected>All Sections</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
    </select>
    <label style="font-family: Inter; margin-left: 10px;"><input name="highlight" type="checkbox" checked> Highlight</label>
    <div style="display: flex; flex-direction:row; margin-left: -10px; margin-top: 30px;">
        <button class="btn" onclick="navigation.back()" type="reset">Cancel Changes</button>
    <input type="submit" class="btn primary" value="Create News Post" onclick="if(document.getElementsByName('coverPhoto')[0].files[0] == null) {alert('Make sure you uploaded a cover photo for the news post!');} else { var element = this; setTimeout(function() {element.disabled = true; element.style.backgroundColor = '#aaaaaa'; }, 250); setTimeout(function(){element.disabled = false; element.style.backgroundColor = '#1F355E';}, 10000);}">
    </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <img class="eventCover" id="coverPreview" style="cursor: pointer;" onclick="document.getElementsByName('coverPhoto')[0].click();">
        <input type="file" required name="coverPhoto" accept="image/*" hidden onchange="setPreviewImage(this.files[0])">
        <script>
            function uploadImageToServer(file) {
                var formData = new FormData();
                formData.append('file', file);
                fetch('/uploadCover/Event', {
                    method: 'POST',
                    body: formData
                    })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('coverPreview').src = data.url;
                })
                .catch(error => console.error('Error:', error));
            }
            function setPreviewImage(file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    console.log(document.getElementById('coverPreview'));
                    document.getElementById('coverPreview').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        </script>
    </div>
</form>
{% endblock %}
