{% extends 'Base.html' %}
{% load static %}
{% load custom_tags %}

{% block style %}
<title>SU - Modify News Post</title>
{% endblock %}

{% block content %}
<div>
    <p class="pageTitle">Edit Profile</p>
</div>
<form method="post" class="profileRow" style="align-items: start;" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column;">
        {% if userType == "student" %}
        <img class="eventCover" id="coverPreview" style="border: black 1px solid; border-radius: 10px; cursor: pointer; margin-left: 10px; margin-bottom: 20px;" src="{{user.associated_student.profile_picture.url}}" onclick="document.getElementsByName('coverPhoto')[0].click();">
        <div>
            <div class="textfieldtoolbar">
                <button class="toolbarBtn" style="border-top-left-radius: 10px;" type="button" onclick="execCommand('bold'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/bold.svg' %}" alt="B"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('italic'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/italic.svg' %}" alt="I"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('underline'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/underline.svg' %}" alt="U"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('strikethrough'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/strikethrough.svg' %}" alt="S"></button>
                <button class="toolbarBtn" type="button" onclick="document.getElementById('fontcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/text_color.svg' %}" alt="A"></button>
                <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="fontcolor" onchange="document.getElementById('maineditor').focus(); execCommand('foreColor', true, this.value)">
                <button class="toolbarBtn" type="button" onclick="document.getElementById('backcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/highlight.svg' %}" alt="H"></button>
                <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="backcolor" onchange="document.getElementById('maineditor').focus(); execCommand('backColor', true, this.value)">
                <button class="toolbarBtn" type="button" onclick="execCommand('removeFormat'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/clear_format.svg' %}" alt="T"></button>
            </div>
            <p class="textfield bottom" required placeholder="About" contentEditable="true" id="maineditor" style="width: 600px; height: 200px; padding-top: 10px; margin-top: 0px;">{{ user.associated_student.about|safe }}</p>
            <textarea class="textfield" hidden required name="about" contentEditable="true" style="width: 600px; height: 200px; padding-top: 10px;">{{ user.associated_student.about|safe }}</textarea>
            <script>
                setInterval(function() {document.getElementsByName('about')[0].innerHTML = document.getElementById('maineditor').innerHTML;},1);
            </script>
        </div>
        {% elif userType == "faculty" %}
        <img class="eventCover" id="coverPreview" style="border: black 1px solid; border-radius: 10px; cursor: pointer;" src="{{user.associated_faculty.profile_picture.url}}" onclick="document.getElementsByName('coverPhoto')[0].click();">
        {% elif userType == "club" %}
        <input class="textfield" required name="name" placeholder="Name" value="{{club.name}}">
        <div>
            <div class="textfieldtoolbar">
                <button class="toolbarBtn" style="border-top-left-radius: 10px;" type="button" onclick="execCommand('bold'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/bold.svg' %}" alt="B"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('italic'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/italic.svg' %}" alt="I"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('underline'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/underline.svg' %}" alt="U"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('strikethrough'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/strikethrough.svg' %}" alt="S"></button>
                <button class="toolbarBtn" type="button" onclick="document.getElementById('fontcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/text_color.svg' %}" alt="A"></button>
                <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="fontcolor" onchange="document.getElementById('maineditor').focus(); execCommand('foreColor', true, this.value)">
                <button class="toolbarBtn" type="button" onclick="document.getElementById('backcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/highlight.svg' %}" alt="H"></button>
                <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="backcolor" onchange="document.getElementById('maineditor').focus(); execCommand('backColor', true, this.value)">
                <button class="toolbarBtn" type="button" onclick="execCommand('removeFormat'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/clear_format.svg' %}" alt="T"></button>
            </div>
            <p class="textfield bottom" required placeholder="About" contentEditable="true" id="maineditor" style="width: 600px; height: 200px; padding-top: 10px; margin-top: 0px;">{{ club.about|safe}}</p>
            <textarea class="textfield" hidden required name="about" placeholder="Content" contentEditable="true" style="width: 600px; height: 200px; padding-top: 10px;">{{ club.about|safe }}</textarea>
            <script>
                setInterval(function() {document.getElementsByName('about')[0].innerHTML = document.getElementById('maineditor').innerHTML;},1);
            </script>
        </div>
        <input class="textfield" type="color" required name="color" placeholder="Color" value="{{club.color}}">
        <textarea class="textfield" name="links" placeholder="Links (One link per line, text to show first then ! then link. Ex: Google!https://google.com)" style="width: 600px; height: 100px;">{{links}}</textarea>
        {% elif userType == "varsity" %}
        <input class="textfield" required name="name" placeholder="Name" value="{{varsity.name}}">
        <div style="margin: 0;">
            <div class="textfieldtoolbar">
                <button class="toolbarBtn" style="border-top-left-radius: 10px;" type="button" onclick="execCommand('bold'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/bold.svg' %}" alt="B"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('italic'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/italic.svg' %}" alt="I"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('underline'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/underline.svg' %}" alt="U"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('strikethrough'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/strikethrough.svg' %}" alt="S"></button>
                <button class="toolbarBtn" type="button" onclick="document.getElementById('fontcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/text_color.svg' %}" alt="A"></button>
                <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="fontcolor" onchange="document.getElementById('maineditor').focus(); execCommand('foreColor', true, this.value)">
                <button class="toolbarBtn" type="button" onclick="document.getElementById('backcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/highlight.svg' %}" alt="H"></button>
                <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="backcolor" onchange="document.getElementById('maineditor').focus(); execCommand('backColor', true, this.value)">
                <button class="toolbarBtn" type="button" onclick="execCommand('removeFormat'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/clear_format.svg' %}" alt="T"></button>
            </div>
            <p class="textfield bottom" required placeholder="About" contentEditable="true" id="maineditor" style="width: 600px; height: 200px; padding-top: 10px; margin-top: 0px;">{{ varsity.about|safe }}</p>
            <textarea class="textfield" hidden required name="about" placeholder="Content" contentEditable="true" style="width: 600px; height: 200px; padding-top: 10px;">{{ varsity.about|safe }}</textarea>
            <script>
                setInterval(function() {document.getElementsByName('about')[0].innerHTML = document.getElementById('maineditor').innerHTML;},1);
            </script>
        </div>
        <input class="textfield" type="color" required name="color" placeholder="Color" value="{{varsity.color}}">
        <textarea class="textfield" name="links" placeholder="Links (One link per line, text to show first then ! then link. Ex: Google!https://google.com)" style="width: 600px; height: 100px;">{{links|safe}}</textarea>
        {% endif %}
        <div style="display: flex; flex-direction:row; margin-left: -10px; margin-top: 30px;">
        <button class="btn" onclick="navigation.back()" type="reset">Cancel Changes</button>
        <input type="submit" class="btn primary" value="Save Changes" onclick="var element = this; setTimeout(function() {element.disabled = true; element.style.backgroundColor = '#aaaaaa'; }, 250); setTimeout(function(){element.disabled = false; element.style.backgroundColor = '#1F355E';}, 10000);">
        </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        {% if userType == "club" %}
        <img class="eventCover" id="coverPreview" style="border: black 1px solid; border-radius: 10px; cursor: pointer;" src="{{club.logo.url}}" onclick="document.getElementsByName('coverPhoto')[0].click();">
        {% elif userType == "varsity" %}
        <img class="eventCover" id="coverPreview" style="border: black 1px solid; border-radius: 10px; cursor: pointer;" src="{{varsity.logo.url}}" onclick="document.getElementsByName('coverPhoto')[0].click();">
        {% endif %}
        <input type="file" hidden name="coverPhoto" accept="image/*" onchange="setPreviewImage(this.files[0])">
        <script>
            function setPreviewImage(file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    console.log(document.getElementById('coverPreview'));
                    document.getElementById('coverPreview').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }

        </script>
    </div>
</form>
{% endblock %}
