{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>SS - Events</title>
{% endblock %}

{% block content %}
<div class="profileRow">
    <p class="pageTitle">EVENTS</p>
    {% if hasClubs %}
        <button class="btn empty" onclick="openPopup('createEventBG');"><img src="{%static '../media/images/joinButton.svg' %}"></button>
    {% endif %}
</div>
<div class="popupBG" hidden id="createEventBG" onclick="if(event.srcElement == this) {closePopup(this.id)}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Choose Club To Create Event</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="createEventSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="createEventField">
            {% for club in user.associated_clubs.all %}
            <a class="profileRow" href="{% url "create_event" club.pk %}">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ club.logo.url }}" alt="Club Cover">
                    <p class="text">{{ club.name }}</p>
                </div>
            </a>
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="grid">
    {% for event in events %}
    {% if event.draft == False %}
    {% if user.associated_student is not None and event.author.type == user.associated_student.gender or user.associated_faculty is not None or user.is_superuser %}


    {% if event.group == "ngr" and event.grade == "nosec" %}
    
    {% if not event.members_only %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% else %}
    {% if user in event.author.members.all %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% elif event.group == "ngr" and event.grade == user.associated_student.section %}
    
    {% if not event.members_only %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% else %}
    {% if user in event.author.members.all %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% elif event.group == gradelevel and event.grade == "nosec" %}
    
    {% if not event.members_only %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% else %}
    {% if user in event.author.members.all %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% elif event.group == gradelevel and event.grade == user.associated_student.section %}
    
    {% if not event.members_only %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% else %}
    {% if user in event.author.members.all %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% else %}
    {% if event.author in user.associated_clubs.all %}
    <div>
        <a href="{% url 'event_detail' event.id %}">
            <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover" style="opacity: 0.6;">
            <p class="text">{{ event.title }}</p>
            <p class="aboutText">{{ event.date }}</p>
            <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
            <p class="aboutText" style="color: orange;">Draft</p>
            <div class="tagBox" style="background: {{ event.author.color }};">
                <p class="tagText">{{ event.author.name }}</p>
            </div>
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% empty %}
    <p class="text">No events available.</p>
    {% endfor %}
</div>

<script>
    function searchMemberGrid(searchTerm, grid) {
        try{
        for(var i = 0; i < grid.children.length; i++) {
            var child = grid.children[i];
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                child.style.display = "none";
            }
        }
    }
    catch(e) {
        {% comment %} console.error(e); {% endcomment %}
    }
    }
    function searchAddMemberGrid(searchTerm,  grid) {
        try{
        for(var i = 0; i < grid.children.length; i++) {
            var child = grid.children[i];
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                child.style.display = "none";
            }
        }
    }
    catch{}
    }
    setInterval(function() {
        searchAddMemberGrid(document.getElementById("createEventSearch").value, document.getElementById("createEventField"));
    }, 1);

    
    
</script>
{% endblock %}
