{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>{{ event.title }} - Event Details</title>
{% endblock %}
{% block meta %}
<meta property="og:title" content="{{event.title}}" />
<meta property="og:description" content="{{event.summary}}" />
<meta property="og:image" content="{{event.cover.url}}" />
{% endblock meta %}
{% block content %}
{% if user.associated_student is not None and event.author.type == user.associated_student.gender or event.author.type == "mixed" or user.associated_faculty is not None or user.is_superuser %}
<div class="pagecontrol">
    <div style="display: flex; justify-content: space-between; flex-direction: column; flex:1;">
        <p class="pageTitle" style="margin: 0px;">{{ event.title }}</p>
        <br>
        <div class="articleDescriptionText">
            <p>{{ event.text|safe|linebreaks }}</p>
        </div>
        {% if event.members_only %}
        <p class="articleDescriptionText"><strong>Note:</strong> This event is only for members.</p>
        {% endif %}
        <div class="profileRow">
            <p class="pageSubtitle" style="margin: 0px;">{{event.attending_Students.count}} Attendee{% if event.attending_Students.count != 1 %}s{% endif %}</p>
            {% if event.author in user.associated_clubs.all and not event.attendance_locked or user.associated_faculty is not None or user.is_superuser %}
            <button class="btn empty" onclick="openPopup('addMemberBG')"><img src="{% static '../media/images/joinButton.svg' %}"></button>
            {% endif %}
            </div>
            <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="memberSearch">
            <br>
            <div class="memberGrid scroll" id="memberField">
                                {% for member in event.attending_Students.all %}
                                <a href="/Student/Detail/{{member.pk}}" class="profileRow">
                                    <div class="profileRow" style="border: {% if member in event.confirmed_Students.all %}lime{% else %}red{% endif %} 3px solid; border-radius: 15px; padding: 10px; gap: 10px; background: white;">
                                        <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover; aspect-ratio: 1/1;margin-right: 10px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                                        <p class="text">{{ member.name }}</p>
                                        <p class="aboutText">{% load custom_tags %}{% student_grade_display member %}</p>
                                        <p class="aboutText confirmedcontrol" style="color: {% if member in event.confirmed_Students.all %}lime{% else %}red{% endif %};">{% if member in event.confirmed_Students.all %}Confirmed{% else %}Not Confirmed{% endif %}</p>
                        {% if not event.attendance_locked or user.associated_faculty is not None or user.is_superuser %}
                        <div class="profileRow" style="gap:20px;">
                        {% if member.email == user.email or event.author in user.associated_clubs.all %}
                        {% if member not in event.confirmed_Students.all %}
                        <button class="btn empty" onclick="event.preventDefault(); setAttendeeConfirmed('{{member.email}}')"><img src="{%static '../media/images/confirmButton.svg' %}"></button>
                        {% else %}
                        <button class="btn empty" onclick="event.preventDefault(); setAttendeeNotConfirmed('{{member.email}}')"><img src="{%static '../media/images/unconfirmButton.svg' %}"></button>
                        {% endif %}
                        {% endif %}
                        {% if event.author in user.associated_clubs.all %}
                        <button class="btn empty" onclick="event.preventDefault(); removeAttendeeFromList('{{member.email}}')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                        {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </a>
                {% empty %}
                <p class="text">No Members.</p>
                {% endfor %}
            </div>
    </div>
    <div>
        <a href="/Club/Detail/{{event.author.pk}}">
        <div class="centerer" style="height: unset; margin-bottom: 20px;">
        <img src="{{ event.cover.url }}" alt="{{ event.title }} Cover" class="articleCover" style="border: 3px solid {{ event.author.color }};">
        </div>
        <div class="tagBox" style="background: {{ event.author.color }};">
            <p class="tagText">{{ event.author.name }}</p>
        </div>
        </a>
        <p class="aboutText">{{ event.date }}</p>
        <p class="aboutText">{{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}</p>
        <p class="aboutText">{{ event.location }}</p>
        {% if event.hos_approved %}
        <p class="aboutText" style="color: green;">This event has been acknowledged by the HOS</p>
        {% endif %}
        <div style="width: 300px; text-align: center;">
        {% for link in links %}
        <div style=" display: flex; align-items: center;">
            <img src="{% static "../media/images/link.svg" %}">
            <a class="links" href="{{link.link }}" target="_blank" style="margin-top: 0px;  margin-left: 10px">{{ link.name }}</a>
        </div>
        {% endfor %}
        </div>
        <br>
        {% if not event.attendance_locked or user.associated_faculty is not None or user.is_superuser %}
        {% if user not in event.attending_Students.all %}
        <div class="centercontrol"><button onclick="addAttendeeToList('{{user.email}}')" class="btn primary">Attend Event</button></div><br>
        {% else %}
        <div class="centercontrol"><button onclick="removeAttendeeFromList('{{user.email}}')" class="btn">Leave Event</button></div><br>
        {% endif %}
        {% endif %}
        {% if user.associated_faculty is not None %}
        {% if not event.hos_approved %}
        <div class="centercontrol"><button onclick="approveEvent('{{user.email}}')" class="btn primary">Acknowledge Event</button></div><br>
        {% else %}
        {% comment %} <div class="centercontrol"><button onclick="denyEvent('{{user.email}}')" class="btn">Disapprove Event</button></div><br> {% endcomment %}
        {% endif %}
        {% endif %}
        {% if event.author in user.associated_clubs.all or user.associated_faculty is not None %}
        
        <a href="/AttendeesList/Printable/event/{{ event.pk }}" target="_blank" class="centercontrol"><button class="btn">Printable List of Attendees</button></a><br>
        {% endif %}
        {% if event.author in user.associated_clubs.all or user.associated_faculty is not None or event.hos_approved %}
        <a href="/AttendeesList/Permissions/event/{{ event.pk }}" target="_blank" class="centercontrol"><button class="btn">Permission Slips</button></a><br>
        {% endif %}
        {% if event.author in user.associated_clubs.all %}
        <a href="https://api.whatsapp.com/send?text=The {{event.title}} event will be held on *{{event.date}} from {{ event.start_time|time:"g:i A" }} - {{ event.end_time|time:"g:i A" }}*%0AView event details at https://ss.amb.sch.ae/Event/Detail/{{event.pk}}%0AClick on the *Attend Event* button to confirm your attendance." class="centercontrol" target="_blank"><button class="btn">Share to Whatsapp</button></a><br>
        <a href="/Event/Lock/{{ event.pk }}" class="centercontrol"><button class="btn {% if not event.attendance_locked %}primary{% endif %}">{% if event.attendance_locked %}Unlock Attendance{% else %}Lock Attendance{% endif %}</button></a><br>
        <a href="/Event/Modify/{{ event.pk }}" class="centercontrol"><button class="btn primary">Edit Event</button></a>
        {% endif %}
        
    </div>
</div>
{% if event.author in user.associated_clubs.all %}
<div class="popupBG" hidden id="addMemberBG" onclick="if(event.srcElement == this) {closePopup(this.id)}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Attendee To Event</p>
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <input class="textfield" placeholder="Search..." style="margin: 0px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addMemberSearch">
            <input type="checkbox" onchange="togglerAllMembers()">
        </div>
        <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
        <form action="/Event/Add" target="hiddenFrame" method="GET" onsubmit="setTimeout(function() {location.reload();}, 500);">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{event.pk}}">
            <div class="grid popup" style="margin-bottom: 30px;" id="addMemberField">
                {% for member in allUsers %}
                {% if member.associated_student is not None %}
                <div class="profileRow">
                    <div class="profileRow popupBox" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                        <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover; aspect-ratio: 1/1;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                        <p class="text">{{ member.name }}</p>
                        <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                        {% comment %} <button class="btn empty" onclick="addMember('{{member.email}}', 'Member')"><img src="{%static '../media/images/joinButton.svg' %}"></button> {% endcomment %}
                        <input type="checkbox" name="{{member.email}}">
                    </div>
                </div>
                {% endif %}
                {% empty %}
                <p class="text">No Students.</p>
                {% endfor %}    
            </div>
            <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn primary" onclick="closePopup('addMemberBG');">Add Attendees</button>
            </div>
        </form>
        <script>
            var emails = [{% for member in allUsers %}{% if member.associated_student is not None and member in event.author.members.all %}"{{member.email}}",{% endif %}{% endfor %}];
            function togglerAllMembers() {
                for(var i = 0; i < emails.length; i++)  {
                    document.getElementsByName(emails[i])[0].checked = !document.getElementsByName(emails[i])[0].checked;
                }
            }
        </script>
    </div>
</div>
{% endif %}
<script>
    {% if user.associated_faculty is not None or user.is_superuser %}
    function approveEvent(email) {
        fetch("/Club/Approve/event?id=" + {{event.id}} + "&email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    function denyEvent(email) {
        fetch("/Club/Deny/event?id=" + {{event.id}} + "&email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    {% endif %}
    function removeAttendeeFromList(email) {
        fetch("/Event/Remove?id=" + {{event.id}} + "&email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    function addAttendeeToList(email) {
        fetch("/Event/Add?id=" + {{event.id}} + "&" + email + "=on")
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
function setAttendeeConfirmed(email) {
    fetch("/Event/Confirm?id=" + {{event.id}} + "&email=" + email)
    .then(data => data.json())
    .then(json => {console.log(json); location.reload();});
}
function setAttendeeNotConfirmed(email) {
    fetch("/Event/Unconfirm?id=" + {{event.id}} + "&email=" + email)
    .then(data => data.json())
    .then(json => {console.log(json); location.reload();});
}

var nosearchresults;
function searchMemberGrid(searchTerm, grid) {
    try{
        var hidden = 0;
    for(var i = 0; i < grid.children.length; i++) {
        var child = grid.children[i];
        if(grid.children[i].no) {
            grid.children[i].remove();
        }
        else {
            if(child.children[0].children[0].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                hidden++;
                child.style.display = "none";
            }
        }
    }
    if(grid.children.length == hidden) {
        nosearchresults = document.createElement("p");
        nosearchresults.className = 'text';
        nosearchresults.innerHTML = "No Attendees Found.";
        nosearchresults.no = true;
        grid.appendChild(nosearchresults);
    }
}
catch(e) {
    {% comment %} console.error(e); {% endcomment %}
}
}
var nosearchresultspopup;
function searchAddMemberGrid(searchTerm,  grid) {
    try{
        var hidden = 0;
    for(var i = 0; i < grid.children.length; i++) {
        var child = grid.children[i];
        if(grid.children[i].no) {
            grid.children[i].remove();
        }
        else {
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                hidden++;
                child.style.display = "none";
            }
        }
    }
    if(grid.children.length == hidden) {
        nosearchresultspopup = document.createElement("p");
        nosearchresultspopup.className = 'text';
        nosearchresultspopup.innerHTML = "No Students Found.";
        nosearchresultspopup.no = true;
        grid.appendChild(nosearchresultspopup);
    }
}
catch{}
}
    
    setInterval(function() {
        searchMemberGrid(document.getElementById("memberSearch").value, document.getElementById("memberField"));
    }, 1);
    setInterval(function() {
        searchAddMemberGrid(document.getElementById("addMemberSearch").value, document.getElementById("addMemberField"));
    }, 1);
    
</script>
{% else %}
<p style="font-size: 70px; font-weight: bold; margin-top: 50px; text-align: center; font-family: Inter;">This Event Is Not Available For Your Section.</p>
    <p style="font-size: 20px; text-align: center; font-family: Inter;">Oops! The event you’re looking for is not available for your section. If you were redirected here, please use your browser’s back button and try again. If the issue persists, kindly report it to one of the SS Officers for assistance.</p>
{% endif %}
{% endblock %}
