{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>{{ event.title }} - Event Details</title>
{% endblock %}

{% block content %}
<div style="display: flex; gap: 100px; justify-content: space-between;">
    <div style="display: flex; justify-content: space-between; flex-direction: column;">
        <p class="pageTitle" style="margin: 0px;">{{ event.title }}</p>
        <br>
        <div class="articleDescriptionText">
            <p>{{ event.text|linebreaks }}</p>
        </div>
        {% if event.members_only %}
        <p class="articleDescriptionText"><strong>Note:</strong> This event is only for members.</p>
        {% endif %}
        <div class="profileRow">
            <p class="pageSubtitle" style="margin: 0px;">{{event.attending_Students.count}} Attendee{% if event.attending_Students.count > 1 %}s{% endif %}</p>
            {% if event.author in user.associated_clubs.all %}
            <button class="btn empty" onclick="document.getElementById('addMemberBG').hidden = false;"><img src="{% static '../media/images/joinButton.svg' %}"></button>
            {% endif %}
            </div>
            <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="memberSearch">
            <br>
            <div class="grid" id="memberField">
                {% for member in event.attending_Students.all %}
                <a href="/Student/Detail/{{member.associated_student.pk}}" class="profileRow">
                    <div class="profileRow Box" style="border: black 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                        <img class="eventCover" style=" width: 50px; height: 50px; margin-right: 10px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                        <p class="text">{{ member.name }}</p>
                        <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                        {% if event.author in user.associated_clubs.all %}
                        <button class="btn empty" onclick="removeAttendeeFromList('{{member.email}}')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                        {% endif %}
                    </div>
                </a>
                {% empty %}
                <p class="text">No Members.</p>
                {% endfor %}
            </div>
    </div>
    <div>
        <div class="centerer" style="height: unset;">
        <img src="{{ event.cover.url }}" alt="{{ event.title }} Cover" class="articleCover">
        </div>
        <div class="tagBox" style="background: {{ event.author.color }};">
            <p class="tagText">{{ event.author.name }}</p>
        </div>
        <p class="aboutText">{{ event.date }}</p>
        <p class="aboutText">{{ event.location }}</p>
        {% for link in links %}
            <a class="links" href="{{link.link }}" target="_blank">{{ link.name }}</a>, 
        {% endfor %}
        <br>
        {% if event.author in user.associated_clubs.all or user.associated_faculty is not None %}
        <a href="/AttendeesList/Printable/{{ event.pk }}" target="_blank"><button class="btn">Printable List of Attendees</button></a><br>
        {% if event.author in user.associated_clubs.all %}
        <a href="/Event/Modify/{{ event.pk }}" ><button class="btn">Edit Event</button></a>
        {% endif %}
    </div>
</div>{% if event.author in user.associated_clubs.all %}
<div class="popupBG" hidden id="addMemberBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Student To Club</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addMemberSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addMemberField">
            {% for member in allUsers %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addAttendeeToList('{{member.email}}')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<script>{% if event.author in user.associated_clubs.all %}
    function removeAttendeeFromList(email) {
        fetch("/Event/Remove?id=" + {{event.id}} + "&email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    function addAttendeeToList(email) {
        fetch("/Event/Add?id=" + {{event.id}} + "&email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
{% endif %}
    function searchMemberGrid(searchTerm) {
        var grid = document.getElementById("memberField");
        try{
        for(var i = 0; i < grid.children.length; i++) {
            var child = grid.children[i];
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                child.style.display = "none";
            }
        }
    }
    catch {}
    }
    function searchAddMemberGrid(searchTerm) {
        var grid = document.getElementById("addMemberField");
        try{
        for(var i = 0; i < grid.children.length; i++) {
            var child = grid.children[i];
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                child.style.display = "none";
            }
        }
    }
    catch{}
    }
    
    setInterval(function() {
        searchMemberGrid(document.getElementById("memberSearch").value);
    }, 1);
    setInterval(function() {
        searchAddMemberGrid(document.getElementById("addMemberSearch").value);
    }, 1);
    
</script>
{% endblock %}
