{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>{{ user.name }} - Details</title>
{% endblock %}

{% block content %}
<div>
    <div style="display: flex; justify-content: space-between; flex-direction: row; gap: 100px">
            <div style="display: flex; justify-content: space-between; flex-direction: column; justify-content: flex-start;">
            <p class="pageTitle" style="margin: 0px;">{{ user.name }}</p>
                {% comment %} <div class="articleDescriptionText">
                    <p>{{ user.associated_student.about }}</p>
                </div> {% endcomment %}
            </div>
            <div>
                <img src="{{ user.associated_faculty.profile_picture.url }}" style="border: black 3px solid;" alt="{{ user.name }} Logo" class="articleCover">
                {% comment %} <p class="aboutText sidebar">{{ user.associated_student.year_level_title }}</p> {% endcomment %}
                {% comment %} <p class="aboutText sidebar">Grade {{ user.associated_student.year_level }}{{ user.associated_student.section }}</p> {% endcomment %}
                <p class="aboutText sidebar">{{ user.email }}</p>
            </div>
        </div>
        <p class="subtitle">Advisors of Clubs</p>
        <div class="studentGrid">
            {% for club in advisorclubs %}
            <div>
                <a href="{% url 'club_detail' club.id %}">
                    <img class="eventCover" style="border: {{ club.color }} 3px solid;" src="{{ club.logo.url }}" alt="Club Cover">
                    <p class="text">{{ club.name }}</p>
                    <p class="aboutText">{{ club.date }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">Not Advisor of Any Clubs.</p>
            {% endfor %}
        </div>
        <p class="subtitle">Varsity Coach</p>
        <div class="studentGrid">
            {% for varsity in varsitiescoach %}
            <div>
                <a href="{% url 'varsity_detail' varsity.id %}">
                    <img class="eventCover" style="border: {{ varsity.color }} 3px solid;" src="{{ varsity.logo.url }}" alt="{{ varsity.name }}">
                    <p class="text">{{ varsity.name }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">Not Coach of Any Varsities.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
