{% extends 'Base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'CSS/home.css' %}">
<title>SS - Home</title>
<style>
    .content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        padding: 30px 0px;
        padding-top: 150px;
        width: fit-content;
    }
</style>
{% endblock %}

{% block content %}
<div class="highlightBox">
    <button class="btn empty" onclick="previousHighlight()"><img src="{% static '../media/images/leftArrow.svg' %}"></button>
    <div class="highlightOverflow">
        {% for event in highlights %}
        {% if user.associated_student is not None and club.type == user.associated_student.gender or user.associated_faculty is not None or user.is_superuser %}
        <a class="highlightContent" href="/{% if event.typeitem == "event" %}Event{% elif event.typeitem == "news" %}News{% endif %}/Detail/{{event.pk}}">
            <div>
                <p class="highlightTitle">{{event.title}}</p>
                <p class="highlightSubtitle">{{event.summary}}</p>
            </div>
            <img class="highlightImage" src="{{ event.cover.url }}" style="border: 2px solid {{ event.color.color }};" alt="Event Highlight">
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <button class="btn empty" onclick="nextHighlight()"><img src="{% static '../media/images/rightArrow.svg' %}"></button>
</div>
<div class="centerer hirr">
<p class="homeheader">WELCOME TO AMBSS</p>
<div class="homepageArange">
    {% if home_page.event_highlight_1 is not None %}
    <a href="{% url 'event_detail' home_page.event_highlight_1.id %}">
        <img class="eventCover" src="{{ home_page.event_highlight_1.cover.url }}" alt="Event Highlight 1">
        <p class="text">{{ home_page.event_highlight_1.title }}</p>
        <p class="aboutText">{{ home_page.event_highlight_1.date|date:"N j, Y" }}</p>
    </a>
    {% endif %}
    {% if home_page.event_highlight_2 is not None %}
    <a href="{% url 'event_detail' home_page.event_highlight_2.id %}">
        <img class="eventCover" src="{{ home_page.event_highlight_2.cover.url }}" alt="Event Highlight 2">
        <p class="text">{{ home_page.event_highlight_2.title }}</p>
        <p class="aboutText">{{ home_page.event_highlight_2.date|date:"N j, Y" }}</p>
    </a>
    {% endif %}
    {% if home_page.event_highlight_3 is not None %}
    <a href="{% url 'event_detail' home_page.event_highlight_3.id %}">
        <img class="eventCover" src="{{ home_page.event_highlight_3.cover.url }}" alt="Event Highlight 3">
        <p class="text">{{ home_page.event_highlight_3.title }}</p>
        <p class="aboutText">{{ home_page.event_highlight_3.date|date:"N j, Y" }}</p>
    </a>
    {% endif %}
</div>
<div class="homeheader" style="width: 100%;">
    <p class="hpsubtitle">LATEST NEWS</p>
</div>
<div class="homepageArange">
    {% if home_page.news_highlight_1 is not None %}
    <a href="{% url 'news_detail' home_page.news_highlight_1.id %}">
        <img class="newsCover" src="{{ home_page.news_highlight_1.cover.url }}" alt="News Highlight 1">
        <p class="text">{{ home_page.news_highlight_1.title }}</p>
        <p class="aboutText">{{ home_page.news_highlight_1.published_date|date:"N j, Y" }}</p>
    </a>
    {% endif %}
    {% if home_page.news_highlight_2 is not None %}
    <a href="{% url 'news_detail' home_page.news_highlight_2.id %}">
        <img class="newsCover" src="{{ home_page.news_highlight_2.cover.url }}" alt="News Highlight 2">
        <p class="text">{{ home_page.news_highlight_2.title }}</p>
        <p class="aboutText">{{ home_page.news_highlight_2.published_date|date:"N j, Y" }}</p>
    </a>
    {% endif %}
    {% if home_page.news_highlight_3 is not None %}
    <a href="{% url 'news_detail' home_page.news_highlight_3.id %}">
        <img class="newsCover" src="{{ home_page.news_highlight_3.cover.url }}" alt="News Highlight 3">
        <p class="text">{{ home_page.news_highlight_3.title }}</p>
        <p class="aboutText">{{ home_page.news_highlight_3.published_date|date:"N j, Y" }}</p>
    </a>
    {% endif %}
</div>
<div class="homeheader" style="width: 100%;">
    <p class="hpsubtitle">OFFICERS OF THE SS</p>
</div> 
<div class="homepageArange">
    {% if home_page.officer_highlight_1 is not None %}
    <a href="/Student/Detail/{{home_page.officer_highlight_1.pk}}">
        <img class="studentPFP" src="{{ home_page.officer_highlight_1.associated_student.profile_picture.url }}" alt="Officer Highlight 1">
        <p class="text">{{ home_page.officer_highlight_1.name }}</p>
    </a>
    {% endif %}
    {% if home_page.officer_highlight_2 is not None %}
    <a href="/Student/Detail/{{home_page.officer_highlight_2.pk}}">
        <img class="studentPFP" src="{{ home_page.officer_highlight_2.associated_student.profile_picture.url }}" alt="Officer Highlight 1">
        <p class="text">{{ home_page.officer_highlight_2.name }}</p>
    </a>
    {% endif %}
    {% if home_page.officer_highlight_3 is not None %}
    <a href="/Student/Detail/{{home_page.officer_highlight_3.pk}}">
        <img class="studentPFP" src="{{ home_page.officer_highlight_3.associated_student.profile_picture.url }}" alt="Officer Highlight 1">
        <p class="text">{{ home_page.officer_highlight_3.name }}</p>
    </a>
    {% endif %}
    {% if home_page.officer_highlight_4 is not None %}
    <a href="/Student/Detail/{{home_page.officer_highlight_4.pk}}">
        <img class="studentPFP" src="{{ home_page.officer_highlight_4.associated_student.profile_picture.url }}" alt="Officer Highlight 1">
        <p class="text">{{ home_page.officer_highlight_4.name }}</p>
    </a>
    {% endif %}
</div>
</div>
<script>
var currentHighlight = 0;
var highlights = document.getElementsByClassName("highlightContent");
var container = document.getElementsByClassName("highlightOverflow")[0];
function previousHighlight() {
    if(currentHighlight <= 0) {
        currentHighlight = highlights.length-1;
    }
    else {
        currentHighlight--;
    }
    if(highlights.length > 1) {
        console.log("scroll");
        container.scroll({left: highlights[currentHighlight].offsetLeft-50,behavior:'smooth'});
    }
}
function nextHighlight() {
    if(currentHighlight >= highlights.length-1) {
        currentHighlight = 0;
    }
    else {
        currentHighlight++;
    }
    if(highlights.length > 1) {
        console.log("scroll");
        container.scroll({left: highlights[currentHighlight].offsetLeft-50,behavior:'smooth'});
    }
}
setInterval(function() {nextHighlight();}, {{home_page.carousel_scroll_duration}});
</script>
{% endblock %}
