{% extends 'Base.html' %}
{% load static %}
{% load custom_tags %}

{% block style %}
<title>SS - Modify Meeting</title>
{% endblock %}

{% block content %}
<div>
    <p class="pageTitle">Modify Meeting</p>
</div>
<form method="post" class="profileRow" id="mainform" style="align-items: start;" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column;">
    <input class="textfield" required name="title" placeholder="Title" value="{{meeting.title}}" maxlength="40">
    <div>
        <div class="textfieldtoolbar">
            <button class="toolbarBtn" style="border-top-left-radius: 10px;" type="button" onclick="execCommand('bold'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/bold.svg' %}" alt="B"></button>
            <button class="toolbarBtn" type="button" onclick="execCommand('italic'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/italic.svg' %}" alt="I"></button>
            <button class="toolbarBtn" type="button" onclick="execCommand('underline'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/underline.svg' %}" alt="U"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('strikethrough'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/strikethrough.svg' %}" alt="S"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', true, 1); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/decrease_font_size.svg' %}" alt="-"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', false, 2); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/normal_font_size.svg' %}" alt="="></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', true, 4); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/increase_font_size.svg' %}" alt="+"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyLeft'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_left.svg' %}" alt="L"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyCenter'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_center.svg' %}" alt="C"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyRight'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_right.svg' %}" alt="R"></button>
            <button class="toolbarBtn" type="button" onclick="document.getElementById('fontcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/text_color.svg' %}" alt="A"></button>
            <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="fontcolor" oninput="execCommand('foreColor', true, this.value)">
            <button class="toolbarBtn" type="button" onclick="document.getElementById('backcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/highlight.svg' %}" alt="H"></button>
            <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="backcolor" oninput="execCommand('backColor', true, this.value)">
            <button class="toolbarBtn" type="button" onclick="execCommand('removeFormat'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/clear_format.svg' %}" alt="T"></button>
            <button class="toolbarBtn" type="button" onclick="this.children[0].click();"><input type="file" onchange="uploadFile(this.files[0])" accept="*/image" hidden><img src="{% static '../media/images/image.svg' %}" alt="T"></button>
            <button class="toolbarBtn" type="button" onclick="createLink()"><img src="{% static '../media/images/link.svg' %}" alt="R"></button>
        </div>
        <div class="textfield bottom large" required placeholder="Content" contentEditable="true" id="maineditor" style=" padding-top: 10px; margin-top: 0px;">{{meeting.text|safe}}</div>
        <textarea class="textfield" hidden required name="content" placeholder="Content" contentEditable="true" style="width: 600px; height: 200px; padding-top: 10px;">{{meeting.text|safe}}</textarea>
        <script>
            setInterval(function() {document.getElementsByName('content')[0].innerHTML = document.getElementById('maineditor').innerHTML;},1);
        </script>
        <script>
            function createLink() {
                    var container = window.getSelection().getRangeAt(0);
                    console.log(container);
                    var url = prompt("Enter Link: ");
                    if(url == null) {return};
                    console.log(url)
                    var link = "<a href='"  + url + "' target='_blank'>" + url + "</a>";
                    console.log(link)
                    var str = container.endContainer.parentElement.innerHTML.replace(" ", " ");
                    var output = [str.slice(0, container.endOffset), link, str.slice(container.endOffset)].join('')
                    console.log(output)
                    container.endContainer.parentElement.innerHTML = output.trim();
                    document.getElementById('maineditor').focus();
                }
            function uploadFile(file) {
                if(file == null) {
                    console.log(file);
                    console.log('null');
                    return;
                }
                if(file.size > 1048576) {alert("File can't be bigger than 1MB"); return;}
                document.getElementById("loadingBG").hidden = false;
                let formData = new FormData();
                formData.append('file', file);
                fetch('/Upload/Media/About', {
                    method: 'POST',
                    body: formData,
                    })
                    .then(response => response.text())
                    .then(response => {
                        console.log(response);
                        if(response ==  "Failed to upload file") {
                            alert("Failed to upload file");
                            document.getElementById("loadingBG").hidden = true;
                        }
                        else {
                            document.getElementById("loadingBG").hidden = true;
                            document.getElementById('maineditor').focus();
                            document.execCommand('insertImage', false, response);
                            document.getElementById('maineditor').focus();
                        }
                    })
                    .catch(error => {
                        console.error(error);
                        document.getElementById("loadingBG").hidden = true;
                    });
            }
        </script>
    </div>
    <input class="textfield" required name="date" type="date" placeholder="Date Of Meeting">
    <div class="linkcontrol" style=" align-items: start;">
        <input class="textfield" required name="starttime" type="time" placeholder="Start Time Of Meeting"> - 
        <input class="textfield" required name="endtime" type="time" placeholder="End Time Of Meeting">
        </div>
    <input class="textfield" name="location" placeholder="Location Of Meeting (optional)" value="{{meeting.location}}">
    <script>
        function toIsoString(date) {
            var tzo = -date.getTimezoneOffset(),
                dif = tzo >= 0 ? '+' : '-',
                pad = function(num) {
                    return (num < 10 ? '0' : '') + num;
                };
          
            return date.getFullYear() +
                '-' + pad(date.getMonth() + 1) +
                '-' + pad(date.getDate()) +
                'T' + pad(date.getHours()) +
                ':' + pad(date.getMinutes()) +
                ':' + pad(date.getSeconds())/* +
                dif + pad(Math.floor(Math.abs(tzo) / 60)) +
                ':' + pad(Math.abs(tzo) % 60);*/
          }

        var datestr = "{{meeting.date}}";
        var starttimestr = "{{meeting.start_time|time:"g:i A" }}";
        var endtimestr = "{{meeting.end_time|time:"g:i A" }}";
        var startdate = new Date(datestr +  ", " + starttimestr);
        var enddate = new Date(datestr +  ", " + endtimestr);
        document.getElementsByName("date")[0].value = toIsoString(startdate).split("T")[0];
        document.getElementsByName("starttime")[0].value = toIsoString(startdate).split("T")[1];
        document.getElementsByName("endtime")[0].value = toIsoString(enddate).split("T")[1];
    </script>
    <textarea class="textfield  large slim" name="links" placeholder="Links (One link per line, text to show first then ! then link. Ex: Google!https://google.com)">{{links}}</textarea>
<div id="attendeefield">
    <p class="aboutText">Attending Members: </p>
    <input class="textfield" placeholder="Search..." style="margin: 0px; " id="memberSearch">
    <div class="container" id="memberGrid">
        {% for member in allUsers %}
        {% if member.associated_faculty is None %}
        <div class="profileRow" style="border: black 3px solid; border-radius: 15px; padding: 10px; gap: 10px; margin-bottom: 10px;">
            <div style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
            <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover; aspect-ratio: 1/1;margin-right: 10px;" src="{{ member.associated_student.profile_picture.url }}" alt="pfp">
            <p class="text">{{ member.name }}</p>
            <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
            </div>
            <input type="checkbox" class="btn empty" name="{{member.email}}" {% getUserAttendingMeeting member.email meeting.id %}>
        </div>
        {% else %}
        <div class="profileRow" style="border: black 3px solid; border-radius: 15px; padding: 10px; gap: 10px; margin-bottom: 10px;">
            <div style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
            <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover; aspect-ratio: 1/1;margin-right: 10px;" src="{{ member.associated_faculty.profile_picture.url }}" alt="pfp">
            <p class="text">{{ member.name }}</p>
            </div>
            <input type="checkbox" class="btn empty" name="{{member.email}}" {% getUserAttendingMeeting member.email meeting.id %}>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
</div>
    <label style="font-family: Inter; margin-left: 10px;"><input name="emailstudent" type="checkbox" > Send Emails</label>
<div class="linkcontrol" style=" margin-left: -10px; margin-top: 30px;">
    <button class="btn" onclick="navigation.back()" type="reset">Cancel Changes</button>
    <button type="button" class="btn"  onclick="document.getElementById('mainform').action = '/Meetings/Draft/{{meeting.author.pk}}/{{meeting.pk}}/'; document.getElementById('mainform').submit(); var element = this; setTimeout(function() {element.disabled = true; element.style.backgroundColor = '#aaaaaa'; }, 250); setTimeout(function(){element.disabled = false; element.style.backgroundColor = 'white';}, 10000);">Save to Drafts</button><br>
    <input type="submit" class="btn primary" value="Save Meeting" onclick="if(document.getElementsByName('emailstudent').checked) { document.getElementsByClassName('loadingText')[0].innerText = 'Sending Emails...'; document.getElementsByClassName('loadingText')[0].hidden = false;  document.getElementById('loadingBG').hidden = false;}   var element = this; setTimeout(function() {element.disabled = true; element.style.backgroundColor = '#aaaaaa'; }, 250); setTimeout(function(){element.disabled = false; element.style.backgroundColor = '#1F355E';}, 10000);">
    <input type="button" class="btn dangerous" value="Delete Meeting" onclick="if(confirm('Are you sure you would like to delete this meeting?')) {document.getElementsByClassName('loadingText')[0].innerText = 'Deleting Meeting...'; document.getElementsByClassName('loadingText')[0].hidden = false;  document.getElementById('loadingBG').hidden = false;   var element = this; setTimeout(function() {element.disabled = true; element.style.backgroundColor = '#aaaaaa'; }, 250); setTimeout(function(){element.disabled = false; element.style.backgroundColor = '#840000';}, 10000); var a = document.createElement('a'); a.href = '/Meetings/Delete/{{meeting.pk}}'; a.click();}">
</div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <script>
            var nosearchresults;
            function searchMemberGrid(searchTerm, grid) {
                try{
                    var hidden = 0;
                for(var i = 0; i < grid.children.length; i++) {
                    var child = grid.children[i];
                    if(grid.children[i].no) {
                        grid.children[i].remove();
                    }
                    else {
                        if(child.children[0].children[0].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                            child.style.display = "flex";
                        }
                        else {
                            hidden++;
                            child.style.display = "none";
                        }
                    }
                }
                if(grid.children.length == hidden) {
                    nosearchresults = document.createElement("p");
                    nosearchresults.className = 'text';
                    nosearchresults.innerHTML = "No Members Found.";
                    nosearchresults.no = true;
                    grid.appendChild(nosearchresults);
                }
            }
            catch(e) {
                console.error(e);
            }
            }

    setInterval(function() {
        searchMemberGrid(document.getElementById("memberSearch").value, document.getElementById("memberGrid"));
    }, 1);
    {% comment %} setInterval(function() {
        if(document.getElementById("memberSearch") == document.activeElement) {
            document.getElementById("memberGrid").style.display = 'flex';
        }
        else {
            document.getElementById("memberGrid").style.display = 'none';
        }
    },1); {% endcomment %}
        </script>
    </div>
</form>
{% endblock %}
