{% extends 'Base.html' %}
{% load static %}
{% load custom_tags %}

{% block style %}
<title>SS - Modify News Post</title>
{% endblock %}

{% block content %}
<div>
    <p class="pageTitle">Modify News Post</p>
</div>
<form method="post" class="detailsSide reverse" id="mainform" style="align-items: start;" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column;">
    <p class="subtext" id="wrongcred" hidden style="color: red">Incorrect Username or Password</p>
    <input class="textfield" required name="title" placeholder="Title" value="{{news.title}}">
    <div>
        <div class="textfieldtoolbar">
            <button class="toolbarBtn" style="border-top-left-radius: 10px;" type="button" onclick="execCommand('bold'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/bold.svg' %}" alt="B"></button>
            <button class="toolbarBtn" type="button" onclick="execCommand('italic'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/italic.svg' %}" alt="I"></button>
            <button class="toolbarBtn" type="button" onclick="execCommand('underline'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/underline.svg' %}" alt="U"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('strikethrough'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/strikethrough.svg' %}" alt="S"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', true, 1); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/decrease_font_size.svg' %}" alt="-"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', false, 2); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/normal_font_size.svg' %}" alt="="></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', true, 4); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/increase_font_size.svg' %}" alt="+"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyLeft'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_left.svg' %}" alt="L"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyCenter'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_center.svg' %}" alt="C"></button>
            <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyRight'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_right.svg' %}" alt="R"></button>
            <button class="toolbarBtn" type="button" onclick="document.getElementById('fontcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/text_color.svg' %}" alt="A"></button>
            <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="fontcolor" oninput="execCommand('foreColor', true, this.value)">
            <button class="toolbarBtn" type="button" onclick="document.getElementById('backcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/highlight.svg' %}" alt="H"></button>
            <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="backcolor" oninput="execCommand('backColor', true, this.value)">
            <button class="toolbarBtn" type="button" onclick="execCommand('removeFormat'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/clear_format.svg' %}" alt="T"></button>
            <button class="toolbarBtn" type="button" onclick="this.children[0].click();"><input type="file" onchange="uploadFile(this.files[0])" accept="*/image" hidden><img src="{% static '../media/images/image.svg' %}" alt="T"></button>
            <button class="toolbarBtn" type="button" onclick="createLink()"><img src="{% static '../media/images/link.svg' %}" alt="R"></button>
        </div>
        <div class="textfield bottom large" required placeholder="Content" contentEditable="true" id="maineditor" style=" padding-top: 10px; margin-top: 0px;">{{news.text|safe}}</div>
        <textarea class="textfield" hidden required name="content" placeholder="Content" contentEditable="true" style=" padding-top: 10px;">{{news.text|safe}}</textarea>
        <script>
            setInterval(function() {document.getElementsByName('content')[0].innerHTML = document.getElementById('maineditor').innerHTML;},1);
        </script>
        <script>
            function createLink() {
                    var container = window.getSelection().getRangeAt(0);
                    console.log(container);
                    var url = prompt("Enter Link: ");
                    if(url == null) {return};
                    console.log(url)
                    var link = "<a href='"  + url + "' target='_blank'>" + url + "</a>";
                    console.log(link)
                    var str = container.endContainer.parentElement.innerHTML.replace(" ", " ");
                    var output = [str.slice(0, container.endOffset), link, str.slice(container.endOffset)].join('')
                    console.log(output)
                    container.endContainer.parentElement.innerHTML = output.trim();
                    document.getElementById('maineditor').focus();
                }
            function uploadFile(file) {
                if(file == null) {
                    console.log(file);
                    console.log('null');
                    return;
                }
                if(file.size > 1048576) {alert("File can't be bigger than 1MB"); return;}
                document.getElementById("loadingBG").hidden = false;
                let formData = new FormData();
                formData.append('file', file);
                fetch('/Upload/Media/About', {
                    method: 'POST',
                    body: formData,
                    })
                    .then(response => response.text())
                    .then(response => {
                        console.log(response);
                        if(response ==  "Failed to upload file") {
                            alert("Failed to upload file");
                            document.getElementById("loadingBG").hidden = true;
                        }
                        else {
                            document.getElementById("loadingBG").hidden = true;
                            document.getElementById('maineditor').focus();
                            document.execCommand('insertImage', false, response);
                            document.getElementById('maineditor').focus();
                        }
                    })
                    .catch(error => {
                        console.error(error);
                        document.getElementById("loadingBG").hidden = true;
                    });
            }
        </script>
    </div>
    <input class="textfield large slim" required name="summary" placeholder="Summary" style="height: 36px;" value="{{news.summary}}">
    <textarea class="textfield  large slim" name="links" placeholder="Links (One link per line, text to show first then ! then link. Ex: Google!https://google.com)">{{links}}</textarea>
    <select class="textfield" name="gradefilter">
        <option value="ngr" selected>All Year Levels</option>
        <option value="12">Seniors (Gr 12) Only</option>
        <option value="11">Juniors (Gr 11) Only</option>
        <option value="10">Sophomores (Gr 10) Only</option>
        <option value="9">Freshmen (Gr 9) Only</option>
    </select>
    <select class="textfield" name="sectionfilter" >
        <option value="nosec" selected>All Sections</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
    </select>
    <script>
        document.getElementsByName("gradefilter")[0].value = "{{news.group}}";
        document.getElementsByName("sectionfilter")[0].value = "{{news.grade}}";
    </script>

<label style="font-family: Inter; margin-left: 10px;"><input name="highlight" type="checkbox" checked> Highlight</label>
<div class="linkcontrol" style=" margin-left: -10px; margin-top: 30px;">
    <button class="btn" onclick="navigation.back()" type="reset">Cancel Changes</button>
    <button type="button" class="btn"  onclick="document.getElementById('mainform').action = '/News/Draft/{{news.pk}}/'; document.getElementById('mainform').submit(); var element = this; setTimeout(function() {element.disabled = true; element.style.backgroundColor = '#aaaaaa'; }, 250); setTimeout(function(){element.disabled = false; element.style.backgroundColor = 'white';}, 10000);">Save to Drafts</button><br>
    <input type="submit" class="btn primary" value="Save Event" onclick="document.getElementsByClassName('loadingText')[0].innerText = 'Modifying Post...'; document.getElementsByClassName('loadingText')[0].hidden = false;  document.getElementById('loadingBG').hidden = false;   var element = this; setTimeout(function() {element.disabled = true; element.style.backgroundColor = '#aaaaaa'; }, 250); setTimeout(function(){element.disabled = false; element.style.backgroundColor = '#1F355E';}, 10000);">
    </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <img class="eventCover" id="coverPreview" style="border: black 1px solid; border-radius: 10px; cursor: pointer;" src="{{news.cover.url}}" onclick="document.getElementsByName('coverPhoto')[0].click();">
        <input type="file" hidden name="coverPhoto" accept="image/*" onchange="setPreviewImage(this.files[0])">
        <script>
            function uploadImageToServer(file) {
                var formData = new FormData();
                formData.append('file', file);
                fetch('/uploadCover/Event', {
                    method: 'POST',
                    body: formData
                    })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('coverPreview').src = data.url;
                })
                .catch(error => console.error('Error:', error));
            }
            function setPreviewImage(file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    console.log(document.getElementById('coverPreview'));
                    document.getElementById('coverPreview').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }

        </script>
    </div>
</form>
{% endblock %}
