{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>{{ news.title }} - News Details</title> 
{% endblock %}

{% block content %}
{% if news.draft == False %}
{% if news.awaiting_approval %}
<div class="warning"><p style="font-family: Inter; font-size: 20px; color: unset;">⚠️ Post awaiting approval</p></div>
{% else %}
{% if not news.approved %}
<div class="error"><p style="font-family: Inter; font-size: 20px; color: unset;">⚠️ Post Denied</p><p style="font-family: Inter; font-size: 15px; color: unset;">{{ news.denied_reason }}</p></div>
{% endif %}
{% endif %}
{% endif %}
<div  class="pagecontrol">
    <div style="display: flex; justify-content: space-between; flex-direction: column;">
        <p class="pageTitle" style="margin: 0px;">{{ news.title }}</p>
        <br>
        <div class="articleDescriptionText">
            <p>{{ news.text|safe|linebreaks }}</p>
        </div>
    </div>
    <div>
        <a href="/Student/Detail/{{news.author.pk}}">
        <div class="centerer" style="height: unset; margin-bottom:10px;">
        <img src="{{ news.cover.url }}" alt="{{ news.title }} Cover" class="articleCover">
        </div>
        <div class="tagBox" style="background: {{ news.author.color }};"> 
            <p class="tagText">{{ news.author.name }}</p>
        </div>
    </a>
        <p class="aboutText">{{ news.published_date|date:"d M, Y g:i A"  }}</p>
        <div style="width: 300px; text-align: center;">
            {% for link in links %}
            <div style=" display: flex; align-items: center;">
                <img src="{% static "../media/images/link.svg" %}">
                <a class="links" href="{{link.link }}" target="_blank" style="margin-top: 0px;  margin-left: 10px">{{ link.name }}</a>
            </div>
            {% endfor %}
            </div>
        <br>
        {% if news.author == user %}
        <a href="/News/Modify/{{ news.pk }}" class="centercontrol"><button class="btn">Edit News Post</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}
