{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>SS - News</title>
{% endblock %}

{% block content %}
<div class="profileRow">
    <p class="pageTitle">LATEST NEWS</p>
    {% if user.is_authenticated %}
    <a href="{% url 'create_news' %}">
        <button class="btn empty"><img src="{%static '../media/images/joinButton.svg' %}"></button>
    </a>
    {% endif %}
</div>
<div class="grid">
    {% for news in news %}
    {% if news.approved %}
    {% if news.group == "ngr" and news.grade == "nosec" %}
    <div>
        <a href="{% url 'news_detail' news.id %}">
            <img class="newsCover" src="{{ news.cover.url }}" alt="News Cover">
            <p class="text">{{ news.title }}</p>
            <p class="aboutText">{{ news.published_date|date:"N j, Y" }}</p>
        </a>
    </div>
    {% elif news.group == "ngr" and news.grade == user.associated_student.section %}
    <div>
        <a href="{% url 'news_detail' news.id %}">
            <img class="newsCover" src="{{ news.cover.url }}" alt="News Cover">
            <p class="text">{{ news.title }}</p>
            <p class="aboutText">{{ news.published_date|date:"N j, Y" }}</p>
        </a>
    </div>
    {% elif news.group == gradelevel and news.grade == "nosec" %}
    <div>
        <a href="{% url 'news_detail' news.id %}">
            <img class="newsCover" src="{{ news.cover.url }}" alt="News Cover">
            <p class="text">{{ news.title }}</p>
            <p class="aboutText">{{ news.published_date|date:"N j, Y" }}</p>
        </a>
    </div>
    {% elif news.group == gradelevel and news.grade == user.associated_student.section %}
    <div>
        <a href="{% url 'news_detail' news.id %}">
            <img class="newsCover" src="{{ news.cover.url }}" alt="News Cover">
            <p class="text">{{ news.title }}</p>
            <p class="aboutText">{{ news.published_date|date:"N j, Y" }}</p>
        </a>
    </div>
    {% endif %}
    {% else %}
    {% if news.author == user %}
    <div>
        <a href="{% url 'news_detail' news.id %}">
            <img class="newsCover" src="{{ news.cover.url }}" alt="News Cover" style="opacity: 0.6">
            <p class="text">{{ news.title }}</p>
            <p class="aboutText">{{ news.published_date|date:"N j, Y" }}</p>
            <p class="aboutText" style="color: orange;">Not Published</p>
        </a>
    </div>
    {% endif %}
    {% endif %}
    {% empty %}
    <p class="text">No news available.</p>
    {% endfor %}
</div>
{% endblock %}
