{% extends 'Base.html' %}
{% load static %}
{% load custom_tags %}

{% block style %}
<title>SS - Club Profile</title>
{% endblock %}

{% block content %}
<div class="pagecontrol">
    <div style="display: flex; justify-content: space-between; flex-direction: column; flex: 1;">
        <p class="pageTitle" style="margin: 0px;">{{ club.name }}</p>
        <br>
        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px;">{{club.members.count}} Members</p>
        <button class="btn empty" onclick="openMemberPopup('member')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="memberSearch">
        <br>
        <div class="memberGrid" id="memberField">
            {% for member in club.members.all %}
            <a href="/Student/Detail/{{member.pk}}"  class="profileRow">
                <div class="profileRow Box" style="border: {{ member.color }} 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover; aspect-ratio: 1/1;margin-right: 10px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="event.preventDefault(); removeMember('{{member.email}}', 'Member');"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </a>
            {% empty %}
            <p class="text">No Members.</p>
            {% endfor %}
        </div>
        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px; margin-top: 30px;">{{club.heads.count}} Heads</p>
        <button class="btn empty" onclick="openMemberPopup('head')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="headSearch">
        <br>
        <div class="memberGrid" id="headField">
            {% for head in club.heads.all %}
            <a href="/Student/Detail/{{head.pk}}"  class="profileRow">
                <div class="profileRow Box" style="border: {{ head.color }} 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover; aspect-ratio: 1/1;margin-right: 10px;" src="{{ head.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ head.name }}</p>
                    <p class="aboutText">{{ head.associated_student.year_level }}{{ head.associated_student.section }}</p>
                    <button class="btn empty" onclick="event.preventDefault(); removeMember('{{head.email}}', 'Head');"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </a>
            {% empty %}
            <p class="text">No Heads.</p>
            {% endfor %}
        </div>

        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px; margin-top: 30px;">{{club.leadership.count}} Leadership</p>
        <button class="btn empty" onclick="openMemberPopup('leadership')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="leaderSearch">
        <br>
        <div class="memberGrid" id="leaderField">
            {% for leader in club.leadership.all %}
            <a href="/Student/Detail/{{leader.pk}}"  class="profileRow">
                <div class="profileRow Box" style="border: {{ leader.color }} 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover; aspect-ratio: 1/1;margin-right: 10px;" src="{{ leader.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ leader.name }}</p>
                    <p class="aboutText">{{ leader.associated_student.year_level }}{{ leader.associated_student.section }}</p>
                    <button class="btn empty" onclick="event.preventDefault(); removeMember('{{leader.email}}', 'Leadership');"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </a>
            {% empty %}
            <p class="text">No Leadership.</p>
            {% endfor %}
        </div>

        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px; margin-top: 30px;">{{club.advisors.count}} Advisors</p>
        <button class="btn empty" onclick="openMemberPopup('advisor')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="advisorSearch">
        <br>
        <div class="memberGrid" id="advisorField">
            {% for advisor in club.advisors.all %}
            <a href="/Faculty/Detail/{{advisor.pk}}" class="profileRow">
                <div class="profileRow Box" style="border: {{ advisor.color }} 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover; aspect-ratio: 1/1;margin-right: 10px;" src="{{ advisor.associated_faculty.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ advisor.name }}</p>
                    {% comment %} <p class="aboutText">{{ advisor.associated_student.year_level }}{{ advisor.associated_student.section }}</p> {% endcomment %}
                    <button class="btn empty" onclick="event.preventDefault(); removeMember('{{advisor.email}}', 'Advisor');"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </a>
            {% empty %}
            <p class="text">No Advisors.</p>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="centerer huns" style="margin-bottom: 20px;">
        <img src="{{ club.logo.url }}" alt="Profile Picture" class="articleCover">
        </div>
        <div class="tagBox" style="background: {{club.color}};">
            <p class="tagText">Club</p>
        </div>
        <div class="aboutText sidebar">{{ club.about|default_if_none:""|safe }}</div>
        <a href="/profile/Edit/Club/{{club.pk}}" class="centercontrol"><button class="btn primary">Edit Club</button></a><br>
        <a class="centercontrol"><button class="btn" onclick="openMemberPopup('selectApplicant')" >Send Admission Emails</button><a/><br>
        <a class="centercontrol"><button class="btn" onclick="downloadList()">Download List of Members</button></a><br>
        <a href="{% url "create_event" club.pk %}" class="centercontrol"><button class="btn">Create Event</button></a><br>
        <a href="{% url "create_meeting" club.pk %}" class="centercontrol"><button class="btn">Create Meeting</button></a><br>
        <a href="{% url "club_bylaws" club.pk %}" class="centercontrol"><button class="btn">Bylaws</button></a>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script> 
<script>
function downloadList() {
    var listofmembers = [{% for member in club.members.all %}{"Name": "{{member.name}}", "Gender": "{{member.associated_student.gender}}", "Grade": {{member.associated_student.year_level}}, "Section": "{{member.associated_student.section}}", "Email": "{{member.email}}", "School ID": "{{member.associated_student.student_db_id}}"},{% endfor %}]
    console.log(listofmembers);
    var ws = XLSX.utils.json_to_sheet(listofmembers);
    var wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "People");
    XLSX.writeFile(wb,"{{club.name}} Members.xlsx");
}
</script>
<div class="popupBG" hidden id="selectApplicantBG" onclick="if(event.srcElement == this) {closePopup(this.id);}">
    <div class="accountPopupWindow large">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Select Applicants To Send Emails</p>
        <p class="subtext">Make sure to add members to club before sending emails</p>
        <p class="subtext">Members of the club will receive acceptance letters and all other selected applicants will receive rejection letters</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="selectApplicantSearch">
        <form action="/Club/SendEmails/{{club.pk}}/" method="POST">
        <div class="grid popup" style="margin-bottom: 30px; max-height: 200px;" id="selectApplicantField">
            {% csrf_token %}
            {% for member in allUsers %}
            {% if member.associated_student is not None %}
            <div class="profileRow">
                <div class="profileRow popupBox" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    {% comment %} <button class="btn empty" onclick="addMember('{{member.email}}', 'Member')"><img src="{%static '../media/images/joinButton.svg' %}"></button> {% endcomment %}
                    <input type="checkbox" name="{{member.email}}">
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}    
        </div>
        <div style="display: flex; justify-content: center;">
            <p class="subtext">Enter email body, Note: This will only be shown on acceptance letters not rejected</p>
        </div>
        <div style="display: flex; justify-content: center;">
        <div>
            <div class="textfieldtoolbar">
                <button class="toolbarBtn" style="border-top-left-radius: 10px;" type="button" onclick="execCommand('bold'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/bold.svg' %}" alt="B"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('italic'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/italic.svg' %}" alt="I"></button>
                <button class="toolbarBtn" type="button" onclick="execCommand('underline'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/underline.svg' %}" alt="U"></button>
                <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('strikethrough'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/strikethrough.svg' %}" alt="S"></button>
                <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', true, 1); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/decrease_font_size.svg' %}" alt="-"></button>
                <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', false, 2); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/normal_font_size.svg' %}" alt="="></button>
                <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('fontSize', true, 4); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/increase_font_size.svg' %}" alt="+"></button>
                <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyLeft'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_left.svg' %}" alt="L"></button>
                <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyCenter'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_center.svg' %}" alt="C"></button>
                <button class="toolbarBtn toolbarBtnControl" type="button" onclick="execCommand('justifyRight'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/justify_right.svg' %}" alt="R"></button>
                <button class="toolbarBtn" type="button" onclick="document.getElementById('fontcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/text_color.svg' %}" alt="A"></button>
                <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="fontcolor" oninput="execCommand('foreColor', true, this.value)">
                <button class="toolbarBtn" type="button" onclick="document.getElementById('backcolor').click(); document.getElementById('maineditor').focus(); "><img src="{% static '../media/images/highlight.svg' %}" alt="H"></button>
                <input type="color" style="width:  0px; border: none; margin:0px; padding: 0px;" id="backcolor" oninput="execCommand('backColor', true, this.value)">
                <button class="toolbarBtn" type="button" onclick="execCommand('removeFormat'); document.getElementById('maineditor').focus();"><img src="{% static '../media/images/clear_format.svg' %}" alt="T"></button>
                <button class="toolbarBtn" type="button" onclick="this.children[0].click();"><input type="file" oninput="uploadFile(this.files[0])" accept="*/image" hidden><img src="{% static '../media/images/image.svg' %}" alt="T"></button>
                <button class="toolbarBtn" type="button" onclick="createLink()"><img src="{% static '../media/images/link.svg' %}" alt="R"></button>
            </div>
            <div class="textfield bottom large" required placeholder="Content" contentEditable="true" id="maineditor" style=" padding-top: 10px; margin-top: 0px;"></div>
            <textarea class="textfield" hidden name="content" placeholder="Content" contentEditable="true" style=" padding-top: 10px;"></textarea>
            <script>
                setInterval(function() {document.getElementsByName('content')[0].innerHTML = document.getElementById('maineditor').innerHTML;},1);
            </script>
            <script>
                function createLink() {
                    var container = window.getSelection().getRangeAt(0);
                    console.log(container);
                    var url = prompt("Enter Link: ");
                    console.log(url)
                    if(url == null) {return};
                    var link = "<a href='"  + url + "' target='_blank'>" + url + "</a>";
                    console.log(link)
                    var str = container.endContainer.parentElement.innerHTML.replace("&nbsp;", " ");
                    var output = [str.slice(0, container.endOffset), link, str.slice(container.endOffset)].join('')
                    console.log(output)
                    container.endContainer.parentElement.innerHTML = output.trim();
                    document.getElementById('maineditor').focus();
                }
                function uploadFile(file) {
                    if(file == null) {
                        console.log(file);
                        console.log('null');
                        return;
                    }
                    if(file.size > 1048576) {alert("File can't be bigger than 1MB"); return;}
                    document.getElementById("loadingBG").hidden = false;
                    let formData = new FormData();
                    formData.append('file', file);
                    fetch('/Upload/Media/About', {
                        method: 'POST',
                        body: formData,
                        })
                        .then(response => response.text())
                        .then(response => {
                            console.log(response);
                            if(response ==  "Failed to upload file") {
                                alert("Failed to upload file");
                                document.getElementById("loadingBG").hidden = true;
                            }
                            else {
                                document.getElementById("loadingBG").hidden = true;
                                document.getElementById('maineditor').focus();
                                document.execCommand('insertImage', false, response);
                                document.getElementById('maineditor').focus();
                            }
                        })
                        .catch(error => {
                            console.error(error);
                            document.getElementById("loadingBG").hidden = true;
                        });
                }
            </script>
        </div>
    </div>
        <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn primary" onclick="closePopup('selectApplicantBG'); document.getElementsByClassName('loadingText')[0].innerText = 'Sending Emails...'; document.getElementsByClassName('loadingText')[0].hidden = false;  document.getElementById('loadingBG').hidden = false;">Send Admission Emails</button>
        </div>
        </form>
    </div>
</div>
<div class="popupBG" hidden id="addMemberBG" onclick="if(event.srcElement == this) {closePopup(this.id);}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Student To Club</p>
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addMemberSearch">
        <button class="btn empty" onclick="requestHash()"><img src="{% static "../media/images/link.svg" %}"></button>
        <script>
            function requestHash() {
                fetch("/Club/AddByLink/request/{{club.pk}}/", {method: 'POST'})
                .then(data => data.json())
                .then(json => {
                    if(json["error"] == null) {
                        // console.log(json);
                        try { 
                            navigator.clipboard.writeText(json["url"]); 
                            alert('Link copied to clipboard\nLink Expires On: ' + json["expiry"])
                        } 
                        catch (error) { 
                            console.error(error.message); 
                        }
                    }
                    else {
                        alert(json["error"]);
                    }
                });
            }
        </script>
        </div>
        <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
        <form action="/Club/Add/{{club.pk}}/Member" target="hiddenFrame" method="GET" onsubmit="setTimeout(function() {location.reload();}, 500);">
            {% csrf_token %}
            <div class="grid popup" style="margin-bottom: 30px;" id="addMemberField">
                {% for member in allUsers %}
                {% if member.associated_student is not None and member not in club.members.all and member not in club.advisors.all and member not in club.leadership.all and member not in club.heads.all %}
                {% if member.associated_student.gender == club.type or club.type == "mixed" %}
                <div class="profileRow">
                    <div class="profileRow popupBox" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                        <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                        <p class="text">{{ member.name }}</p>
                        <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                        {% comment %} <button class="btn empty" onclick="addMember('{{member.email}}', 'Member')"><img src="{%static '../media/images/joinButton.svg' %}"></button> {% endcomment %}
                        <input type="checkbox" name="{{member.email}}">
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% empty %}
                <p class="text">No Students.</p>
                {% endfor %}    
            </div>
            <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn primary" onclick="closePopup('addMemberBG');">Add Members</button>
            </div>
        </form>
    </div>
</div>
<div class="popupBG" hidden id="addHeadBG" onclick="if(event.srcElement == this) {closePopup(this.id);}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Head To Club</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addHeadsSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addHeadField">
            {% for member in allUsers %}
            {% if member.associated_student is not None and member not in club.members.all and member not in club.advisors.all and member not in club.leadership.all and member not in club.heads.all %}
            {% if member.associated_student.gender == club.type or club.type == "mixed" %}
            <div class="profileRow">
                <div class="profileRow popupBox" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Head')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="popupBG" hidden id="addAdvisorBG" onclick="if(event.srcElement == this) {closePopup(this.id);}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Advisor To Club</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addAdvisorSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addAdvisorField">
            {% for member in allUsers %}
            {% if member.associated_faculty is not None and member not in club.heads.all and member not in club.advisors.all and member not in club.leadership.all and member not in club.heads.all %}
            <div class="profileRow">
                <div class="profileRow popupBox" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="{{ member.associated_faculty.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Advisor')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Faculty.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="popupBG" hidden id="addLeadershipBG" onclick="if(event.srcElement == this) {closePopup(this.id);}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Leadership To Club</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addLeadershipSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addLeadershipField">
            {% for member in allUsers %}
            {% if member.associated_student is not None and member not in club.members.all and member not in club.advisors.all and member not in club.leadership.all and member not in club.heads.all %}
            {% if member.associated_student.gender == club.type or club.type == "mixed" %}
            <div class="profileRow">
                <div class="profileRow popupBox" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Leadership')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function openMemberPopup(type) {
        if(type == "member") {
            openPopup('addMemberBG');
        }
        else if(type == "advisor") {
            openPopup('addAdvisorBG');
        }
        else if(type == "leadership") {
            openPopup('addLeadershipBG');
        }
        else if(type == "head") {
            openPopup('addHeadBG');
        }
        else if(type == "selectApplicant") {
            openPopup('selectApplicantBG');
        }
        
    }
    function removeMember(email, sector) {
        if(confirm("Are you sure you would like to delete " + email + "?")) {
        fetch("/Club/Remove/{{club.pk}}/" + sector + "?email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
        }
    }
    function addMember(email, sector) {
        fetch("/Club/Add/{{club.pk}}/" + sector + "?" + email + "=on")
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    
    function searchMemberGrid(searchTerm, grid) {
        try{
        for(var i = 0; i < grid.children.length; i++) {
            var child = grid.children[i];
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                child.style.display = "none";
            }
        }
    }
    catch(e) {
        {% comment %} console.error(e); {% endcomment %}
    }
    }
    function searchAddMemberGrid(searchTerm,  grid) {
        try{
        for(var i = 0; i < grid.children.length; i++) {
            var child = grid.children[i];
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                child.style.display = "none";
            }
        }
    }
    catch{}
    }
    
    setInterval(function() {
        searchMemberGrid(document.getElementById("memberSearch").value, document.getElementById("memberField"));
        searchMemberGrid(document.getElementById("headSearch").value, document.getElementById("headField"));
        searchMemberGrid(document.getElementById("leaderSearch").value, document.getElementById("leaderField"));
        searchMemberGrid(document.getElementById("advisorSearch").value, document.getElementById("advisorField"));
        
    }, 1);
    setInterval(function() {
        searchAddMemberGrid(document.getElementById("addMemberSearch").value, document.getElementById("addMemberField"));
        searchAddMemberGrid(document.getElementById("addHeadsSearch").value, document.getElementById("addHeadField"));
        searchAddMemberGrid(document.getElementById("addAdvisorSearch").value, document.getElementById("addAdvisorField"));
        searchAddMemberGrid(document.getElementById("addLeadershipSearch").value, document.getElementById("addLeadershipField"));
        searchAddMemberGrid(document.getElementById("selectApplicantSearch").value, document.getElementById("selectApplicantField"));
    }, 1);

    
    
</script>
{% endblock %}
