{% extends 'Base.html' %}
{% load static %}
{% load custom_tags %}

{% block style %}
<title>SU - User Profile</title>
{% endblock %}

{% block content %}
<div style="display: flex; gap: 100px; justify-content: space-between;">
    <div style="display: flex; justify-content: space-between; flex-direction: column; flex: 1;">
        <p class="pageTitle" style="margin: 0px;">{{ user.name }}</p>
        <br>
        {% if userType == "student" %}
        <p class="pageSubtitle" style="margin: 0px;">Joined Clubs</p>
        <br>
        <div class="grid">
            {% for club in clubSlashMembers.clubs %}
            <div>
                <a href="{% url 'club_detail' club.id %}">
                    <img class="eventCover" style="border: {{ club.color }} 3px solid;" src="{{ club.logo.url }}" alt="Club Cover">
                    <p class="text">{{ club.name }}</p>
                    <p class="aboutText">{{ club.date }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">No Clubs Joined.</p>
            {% endfor %}
        </div>
        <br>
        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px;">Joined Varsities</p>
        {% comment %} <button class="btn empty"><img src="{%static '../media/images/joinButton.svg' %}" style="margin-top: 5px;"></button> {% endcomment %}
        </div>
        <br>
        <div class="grid">
            {% for varsity in clubSlashMembers.varsities %}
            <div>
                <a href="{% url 'varsity_detail' varsity.id %}">
                    <img class="eventCover" style="border: {{ varsity.color }} 3px solid;" src="{{ varsity.logo.url }}" alt="{{ varsity.name }}">
                    <p class="text">{{ varsity.name }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">No Varsity Teams Joined.</p>
            {% endfor %}
        </div>
        <br>
        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px;">Events Attended</p>
        {% comment %} <button class="btn empty"><img src="{%static '../media/images/joinButton.svg' %}" style="margin-top: 5px;"></button> {% endcomment %}
        </div>
        <br>
        <div class="grid">
            {% for events in attendingEvents %}
            <div>
                <a href="{% url 'event_detail' events.id %}">
                    <img class="eventCover" style="border: blue 3px solid;" src="{{ events.cover.url }}" alt="{{ events.name }}">
                    <p class="text">{{ events.title }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">No Events Attending.</p>
            {% endfor %}
        </div>
        {% elif userType == "club" %}
        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px;">{{user.associated_clubs.members.count}} Members</p>
        <button class="btn empty" onclick="openMemberPopup('member')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="memberSearch">
        <br>
        <div class="grid" id="memberField">
            {% for club in clubSlashMembers %}
            <div class="profileRow">
                <div class="profileRow Box" style="border: {{ club.color }} 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; margin-right: 10px;" src="{{ club.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ club.name }}</p>
                    <p class="aboutText">{{ club.associated_student.year_level }}{{ club.associated_student.section }}</p>
                    <button class="btn empty" onclick="removeMember('{{club.email}}', 'Member')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </div>
            {% empty %}
            <p class="text">No Members.</p>
            {% endfor %}
        </div>
        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px; margin-top: 30px;">{{user.associated_clubs.heads.count}} Heads</p>
        <button class="btn empty" onclick="openMemberPopup('head')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="headSearch">
        <br>
        <div class="grid" id="headField">
            {% for club in user.associated_clubs.heads.all %}
            <div class="profileRow">
                <div class="profileRow Box" style="border: {{ club.color }} 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; margin-right: 10px;" src="{{ club.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ club.name }}</p>
                    <p class="aboutText">{{ club.associated_student.year_level }}{{ club.associated_student.section }}</p>
                    <button class="btn empty" onclick="removeMember('{{club.email}}', 'Head')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </div>
            {% empty %}
            <p class="text">No Heads.</p>
            {% endfor %}
        </div>

        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px; margin-top: 30px;">{{user.associated_clubs.leadership.count}} Leadership</p>
        <button class="btn empty" onclick="openMemberPopup('leadership')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="leaderSearch">
        <br>
        <div class="grid" id="leaderField">
            {% for club in user.associated_clubs.leadership.all %}
            <div class="profileRow">
                <div class="profileRow Box" style="border: {{ club.color }} 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; margin-right: 10px;" src="{{ club.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ club.name }}</p>
                    <p class="aboutText">{{ club.associated_student.year_level }}{{ club.associated_student.section }}</p>
                    <button class="btn empty" onclick="removeMember('{{club.email}}', 'Leadership')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </div>
            {% empty %}
            <p class="text">No Leadership.</p>
            {% endfor %}
        </div>

        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px; margin-top: 30px;">{{user.associated_clubs.advisors.count}} Advisors</p>
        <button class="btn empty" onclick="openMemberPopup('advisor')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="advisorSearch">
        <br>
        <div class="grid" id="advisorField">
            {% for club in user.associated_clubs.advisors.all %}
            <div class="profileRow">
                <div class="profileRow Box" style="border: {{ club.color }} 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; margin-right: 10px;" src="{{ club.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ club.name }}</p>
                    <p class="aboutText">{{ club.associated_student.year_level }}{{ club.associated_student.section }}</p>
                    <button class="btn empty" onclick="removeMember('{{club.email}}', 'Advisor')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </div>
            {% empty %}
            <p class="text">No Advisors.</p>
            {% endfor %}
        </div>
        {% elif userType == "varsity" %}
        <div class="profileRow">
        <p class="pageSubtitle" style="margin: 0px;">{{memberCount}} Players</p>
        <button class="btn empty" onclick="openMemberPopup('player')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
        </div>
        <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="playerSearch">
        <br>
        <div class="grid" id="playerField">
            {% for player in clubSlashMembers %}
            <div class="profileRow">
                <div class="profileRow Box" style="border: blue 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px; margin-right: 10px;" src="{{ player.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ player.name }}</p>
                    <p class="aboutText">{{ player.associated_student.year_level }}{{ player.associated_student.section }}</p>
                    <button class="btn empty" onclick="removeMember('{{player.email}}', 'Member')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                </div>
            </div>
            {% empty %}
            <p class="text">No Players.</p>
            {% endfor %}
        </div>

        <div class="profileRow">
            <p class="pageSubtitle" style="margin: 0px;">{{memberCount}} Coaches</p>
            <button class="btn empty" onclick="openMemberPopup('coach')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
            </div>
            <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="coachSearch">
            <br>
            <div class="grid" id="coachField">
                {% for player in user.associated_varsities.coaches.all %}
                <div class="profileRow">
                    <div class="profileRow Box" style="border: blue 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                        <img class="eventCover" style=" width: 50px; height: 50px; margin-right: 10px;" src="{{ player.associated_student.profile_picture.url }}" alt="Club Cover">
                        <p class="text">{{ player.name }}</p>
                        <p class="aboutText">{{ player.associated_student.year_level }}{{ player.associated_student.section }}</p>
                        <button class="btn empty" onclick="removeMember('{{player.email}}', 'Coach')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                    </div>
                </div>
                {% empty %}
                <p class="text">No Coaches.</p>
                {% endfor %}
            </div>

            <div class="profileRow">
                <p class="pageSubtitle" style="margin: 0px;">{{memberCount}} Captains</p>
                <button class="btn empty" onclick="openMemberPopup('captain')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
                <input class="textfield" placeholder="Search..." style="margin: 0px; width: unset;" id="captainSearch">
                <br>
                <div class="grid" id="captainField">
                    {% for player in user.associated_varsities.captains.all %}
                    <div class="profileRow">
                        <div class="profileRow Box" style="border: blue 3px solid; border-radius: 15px; padding: 10px; gap: 10px;">
                            <img class="eventCover" style=" width: 50px; height: 50px; margin-right: 10px;" src="{{ player.associated_student.profile_picture.url }}" alt="Club Cover">
                            <p class="text">{{ player.name }}</p>
                            <p class="aboutText">{{ player.associated_student.year_level }}{{ player.associated_student.section }}</p>
                            <button class="btn empty" onclick="removeMember('{{player.email}}', 'Captain')"><img src="{%static '../media/images/removeButton.svg' %}"></button>
                        </div>
                    </div>
                    {% empty %}
                    <p class="text">No Captains.</p>
                    {% endfor %}
                </div>
        {% endif %}
    </div>
    <div>
        {% if userType == "student" %}
        <div class="centerer huns" style="margin-bottom: 20px;">
        <img src="{{ user.associated_student.profile_picture.url }}" alt="Profile Picture" class="articleCover">
        </div>
        <div class="tagBox" style="background: #29abe3;">
            <p class="tagText">Student</p>
        </div>
        <p class="aboutText sidebar">{{ user.associated_student.year_level_title }}</p>
        <p class="aboutText sidebar">Grade {{ user.associated_student.year_level }}{{ user.associated_student.section }}</p>
        <p class="aboutText sidebar">{{ user.associated_student.about }}</p>
        {% elif userType == "faculty" %}
        <div class="centerer huns" style="margin-bottom: 20px;">
        <img src="{{ user.associated_faculty.profile_picture.url }}" alt="Profile Picture" class="articleCover">
        </div>
        <div class="tagBox" style="background: #e35129;">
            <p class="tagText">Faculty</p>
        </div>
        
        {% elif userType == "club" %}
        <div class="centerer huns" style="margin-bottom: 20px;">
        <img src="{{ user.associated_clubs.logo.url }}" alt="Profile Picture" class="articleCover">
        </div>
        <div class="tagBox" style="background: #d7e329;">
            <p class="tagText">Club</p>
        </div>
        <p class="aboutText sidebar">{{ user.associated_clubs.about }}</p>
        <button class="btn" onclick="openMemberPopup('selectApplicant')">Send Admission Emails</button>
        {% elif userType == "varsity" %}
        <div class="centerer huns" style="margin-bottom: 20px;">
        <img src="{{ user.associated_varsities.logo.url }}" alt="Profile Picture" class="articleCover">
        </div>
        <div class="tagBox" style="background: #5ee329;">
            <p class="tagText">Varsity</p>
        </div>
        <p class="aboutText sidebar">{{ user.associated_varsities.about }}</p>
        {% endif %}
        <br>
        <a href="/profile/Edit"><button class="btn">Edit Profile</button></a>
        <br>
        {% if user.is_admin %}
        <a href="/admin" target="_blank"><button class="btn">Admin Page</button></a>
        {% endif %}
    </div>
</div>
<div class="popupBG" hidden id="selectApplicantBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Select Applicants To Send Emails</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="selectApplicantSearch">
        <form action="/Club/SendEmails/" method="POST">
        <div class="grid popup" style="margin-bottom: 30px;" id="selectApplicantField">
            {% csrf_token %}
            {% for member in litAllUsers %}
            {% if member.associated_student is not None %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    {% comment %} <button class="btn empty" onclick="addMember('{{member.email}}', 'Member')"><img src="{%static '../media/images/joinButton.svg' %}"></button> {% endcomment %}
                    <input type="checkbox" name="{{member.email}}">
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}    
        </div>
        <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn primary" onclick="openMemberPopup('selectApplicant')">Send Admission Emails</button>
        </div>
        </form>
    </div>
</div>
<div class="popupBG" hidden id="addMemberBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Student To Club</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addMemberSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addMemberField">
            {% for member in allUsers %}
            {% if member not in user.associated_clubs.members.all and member.associated_student is not None %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_pictur.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Member')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="popupBG" hidden id="addHeadBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Head To Club</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addHeadsSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addHeadField">
            {% for member in allUsers %}
            {% if member not in user.associated_clubs.heads.all and member.associated_student is not None %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Head')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="popupBG" hidden id="addAdvisorBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Advisor To Club</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addAdvisorSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addAdvisorField">
            {% for member in allUsers %}
            {% if member not in user.associated_clubs.advisors.all and member.associated_faculty is not None %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Advisor')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Faculty.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="popupBG" hidden id="addLeadershipBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Leadership To Club</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addLeadershipSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addLeadershipField">
            {% for member in allUsers %}
            {% if member not in user.associated_clubs.leadership.all and member.associated_student is not None %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Leadership')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="popupBG" hidden id="addPlayerBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Player To Varsity</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addPlayerSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addPlayerField">
            {% for member in allUsers %}
            {% if member not in user.associated_varsities.members.all and member.associated_student is not None %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Member')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="popupBG" hidden id="addCoachBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Coach To Varsity</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addCoachSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addCoachField">
            {% for member in allUsers %}
            {% if member not in user.associated_varsities.coaches.all and member.associated_faculty is not None %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Coach')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Faculty.</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="popupBG" hidden id="addCaptainBG" onclick="if(event.srcElement == this) {this.hidden = true}">
    <div class="accountPopupWindow">
        <p class="subtitle" style="text-align: center; margin-bottom: 15px;">Add Captain To Varsity</p>
        <input class="textfield" placeholder="Search..." style="margin: 0px; margin-bottom: 20px; width: calc( 100% - 55px ); margin-left: 20px; margin-right: 20px;" id="addCaptainSearch">
        <div class="grid popup" style="margin-bottom: 30px;" id="addCaptainField">
            {% for member in allUsers %}
            {% if member not in user.associated_varsities.captains.all and member.associated_student is not None %}
            <div class="profileRow">
                <div class="profileRow" style="border: blue 3px solid; border-radius: 15px; padding: 5px; gap: 10px;">
                    <img class="eventCover" style=" width: 50px; height: 50px;" src="{{ member.associated_student.profile_picture.url }}" alt="Club Cover">
                    <p class="text">{{ member.name }}</p>
                    <p class="aboutText">{{ member.associated_student.year_level }}{{ member.associated_student.section }}</p>
                    <button class="btn empty" onclick="addMember('{{member.email}}', 'Captain')"><img src="{%static '../media/images/joinButton.svg' %}"></button>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p class="text">No Students.</p>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    {% if userType == "club" or userType == "varsity" %}
    function openMemberPopup(type) {
        if(type == "member") {
            document.getElementById('addMemberBG').hidden = false;
        }
        else if(type == "advisor") {
            document.getElementById('addAdvisorBG').hidden = false;
        }
        else if(type == "leadership") {
            document.getElementById('addLeadershipBG').hidden = false;
        }
        else if(type == "head") {
            document.getElementById('addHeadBG').hidden = false;
        }
        else if(type == "player") {
            document.getElementById('addPlayerBG').hidden = false;
        }
        else if(type == "coach") {
            document.getElementById('addCoachBG').hidden = false;
        }
        else if(type == "captain") {
            document.getElementById('addCaptainBG').hidden = false;
        }
        else if(type == "selectApplicant") {
            document.getElementById('selectApplicantBG').hidden = false;
        }
        
    }
    {% endif %}
    {% if userType == "club" %}
    function removeMember(email, sector) {
        confirm("Are you sure you would like to delete " + email + "?");
        fetch("/Club/Remove/" + sector + "?email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    function addMember(email, sector) {
        fetch("/Club/Add/" + sector + "?email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    {% elif  userType == "varsity" %}
    function removeMember(email, sector) {
        confirm("Are you sure you would like to delete " + email + "?");
        fetch("/Varsity/Remove/" + sector + "?email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    function addMember(email, sector) {
        fetch("/Varsity/Add/" + sector + "?email=" + email)
        .then(data => data.json())
        .then(json => {console.log(json); location.reload();});
    }
    {% endif %}
    function searchMemberGrid(searchTerm, grid) {
        try{
        for(var i = 0; i < grid.children.length; i++) {
            var child = grid.children[i];
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                child.style.display = "none";
            }
        }
    }
    catch(e) {
        {% comment %} console.error(e); {% endcomment %}
    }
    }
    function searchAddMemberGrid(searchTerm,  grid) {
        try{
        for(var i = 0; i < grid.children.length; i++) {
            var child = grid.children[i];
            if(child.children[0].children[1].innerText.toLowerCase().includes(searchTerm.toLowerCase())) {
                child.style.display = "flex";
            }
            else {
                child.style.display = "none";
            }
        }
    }
    catch{}
    }
    
    setInterval(function() {
        {% if userType == "club" %}
        searchMemberGrid(document.getElementById("memberSearch").value, document.getElementById("memberField"));
        searchMemberGrid(document.getElementById("headSearch").value, document.getElementById("headField"));
        searchMemberGrid(document.getElementById("leaderSearch").value, document.getElementById("leaderField"));
        searchMemberGrid(document.getElementById("advisorSearch").value, document.getElementById("advisorField"));
        {% elif userType == "varsity" %}
        searchMemberGrid(document.getElementById("playerSearch").value, document.getElementById("playerField"));
        searchMemberGrid(document.getElementById("coachSearch").value, document.getElementById("coachField"));
        searchMemberGrid(document.getElementById("captainSearch").value, document.getElementById("captainField"));
        {% endif %}
    }, 1);
    setInterval(function() {
        searchAddMemberGrid(document.getElementById("addMemberSearch").value, document.getElementById("addMemberField"));
        searchAddMemberGrid(document.getElementById("addHeadsSearch").value, document.getElementById("addHeadField"));
        searchAddMemberGrid(document.getElementById("addAdvisorSearch").value, document.getElementById("addAdvisorField"));
        searchAddMemberGrid(document.getElementById("addLeadershipSearch").value, document.getElementById("addLeadershipField"));

        searchAddMemberGrid(document.getElementById("addPlayerSearch").value, document.getElementById("addPlayerField"));
        searchAddMemberGrid(document.getElementById("addCoachSearch").value, document.getElementById("addCoachField"));
        searchAddMemberGrid(document.getElementById("addCaptainSearch").value, document.getElementById("addCaptainField"));
        searchAddMemberGrid(document.getElementById("selectApplicantSearch").value, document.getElementById("selectApplicantField"));
    }, 1);

    
    
</script>
{% endblock %}
