{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>{{ scouts.name }} - Details</title>
{% endblock %}

{% block content %}
<div>
    <div class="detailsSide">
            <div style="display: flex; justify-content: space-between; flex-direction: column; justify-content: flex-start;">
            <p class="pageTitle" style="margin: 0px;">{{ scouts.name }}</p>
                <div class="articleDescriptionText">
                    <div>{{ scouts.about|default_if_none:""|safe }}</div>
                </div>
            </div>
            <div class="linkcontrol">
                <img src="{{ scouts.logo.url }}" style="border: {{ scouts.color }} 3px solid;" alt="{{ scouts.name }} Logo" class="articleCover">
                <div style="width: 300px; text-align: center;">
                    {% for link in links %}
                    <div style=" display: flex; align-items: center;">
                        <img src="{% static "../media/images/link.svg" %}">
                        <a class="links" href="{{link.link }}" target="_blank" style="margin-top: 0px;  margin-left: 10px">{{ link.name }}</a>
                    </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
        <p class="subtitle">Leaders</p>
        <div class="studentGrid">
            {% for leader in scouts.heads.all %}
            <div>
                <a>
                    <img src="{{ leader.associated_student.profile_picture.url }}" class="studentPFP" alt="{{ leader.name }}" class="profileCover">
                    <p class="text">{{ leader.name }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">No scout leaders available.</p>
            {% endfor %}
        </div>
        <p class="subtitle">Scouts</p>
        <div class="studentGrid">
            {% for member in scouts.members.all %}  <!-- Changed variable name for clarity -->
            <div>
                <a>
                    <img src="{{ member.associated_student.profile_picture.url }}" alt="{{ member.name }}" class="studentPFP profileCover">
                    <p class="text">{{ member.name }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">No members available.</p>
            {% endfor %}
        </div>
        <p class="subtitle">Advisors</p>
        <div class="studentGrid">
            {% for member in scouts.advisors.all %}  <!-- Changed variable name for clarity -->
            <div>
                <a>
                    <img src="{{ member.associated_faculty.profile_picture.url }}" alt="{{ member.name }}" class="studentPFP profileCover">
                    <p class="text">{{ member.name }}</p>
                </a>
            </div>
            {% empty %}
            <p class="text">No advisors available.</p>
            {% endfor %}
        </div>
        <p class="subtitle">Events</p>
        <div class="grid">
            {% for event in events %}
            <div>
                <a href="{% url 'event_detail' event.id %}">
                    <img class="eventCover" src="{{ event.cover.url }}" alt="Event Cover">
                    <p class="text" style="max-width: 306px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ event.title }}</p>
                    <p class="aboutText">{{ event.date }}</p>
                    <div class="tagBox" style="background: {{ event.author.color }};">
                        <p class="tagText">{{ event.author.name }}</p>
                    </div>
                </a>
            </div>
            {% empty %}
            <p class="text">No events available.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
