{% extends 'Base.html' %}
{% load static %}

{% block style %}
<title>{{ varsity.name }} - Details</title>
{% endblock %}

{% block content %}
<div>
    <div class="detailsSide" style="">
        <div>
            <p class="pageTitle" style="margin-top: 0px;">{{ varsity.name }}</p>
            <div class="articleDescriptionText">{{ varsity.about|default_if_none:""|safe }}</div>
        </div>
        <div class="linkcontrol">
        <img src="{{ varsity.logo.url }}" style="border: {{ varsity.color }} 3px solid;" alt="{{ club.name }} Logo" class="articleCover">
        <div style="width: 300px; text-align: center;">
            {% for link in links %}
            <div style=" display: flex; align-items: center;">
                <img src="{% static "../media/images/link.svg" %}">
                <a class="links" href="{{link.link }}" target="_blank" style="margin-top: 0px;  margin-left: 10px">{{ link.name }}</a>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <p class="subtitle">Captains</p>
    <div class="studentGrid">
        {% for captain in captains %}
        <div>
            <a  href="/Student/Detail/{{captain.pk}}">
                <img src="{{ captain.associated_student.profile_picture.url }}" class="studentPFP" alt="{{ captain.name }}">
                <p class="text">{{ captain.name }}</p>
            </a>
        </div>
        {% empty %}
        <p class="text">No captains available.</p>
        {% endfor %}
    </div>
    <p class="subtitle">Coaches</p>
    <div class="studentGrid">
        {% for coach in coaches %}
        <div>
            <a href="/Faculty/Detail/{{coach.pk}}">
                <img src="{{ coach.associated_faculty.profile_picture.url }}" class="studentPFP" alt="{{ coach.name }}">
                <p class="text">{{ coach.name }}</p>
            </a>
        </div>
        {% empty %}
        <p class="text">No coaches available.</p>
        {% endfor %}
    </div>
    <p class="subtitle">Players</p>
    <div class="studentGrid">
        {% for player in players %}
        <div>
            <a href="/Student/Detail/{{player.pk}}">
                <img src="{{ player.associated_student.profile_picture.url }}" class="studentPFP" alt="{{ player.name }}">
                <p class="text">{{ player.name }}</p>
            </a>
        </div>
        {% empty %}
        <p class="text">No players available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
